# Deploy COA Objects in Transcend:   DBQL_CORE

In [ ]:
%addconnect name=Transcend, user=sh186014, host=tdprdcop3.td.teradata.com, props="LOGMECH=LDAP"

In [41]:
%disconnect name=Transcend

Success: 'Transcend' disconnected

In [45]:
%connect name=Transcend

Success: 'Transcend' connection established

In [46]:
select * from dbc.dbcinfo;

Connection failure detected. Reconnect required for connection: Transcend.
Re-enter Password ············

Success: 'Transcend' connection established

In [ ]:
call adlste_coa.sp_meta_objects_refresh('DBQL_Core')

## *\_dat_DBQL_Core
- Stage = adlste_coa_stg
- Target = adlste_coa
- View = adlste_coa
- StoredProc = adlste_coa 

- Test script

In [88]:
drop table adlste_coa_stg.stg_dat_DBQL_Core

Success: 230 rows affected

### STAGE TABLE -- stg_dat_DBQL_Core

In [89]:
/* Create STAGE table... take care this matches the TARGET table */
CREATE MULTISET GLOBAL TEMPORARY TABLE adlste_coa_stg.stg_dat_DBQL_Core
 (Site_ID                          VARCHAR(64)  CHARACTER SET LATIN
 ,LogDate                          DATE
 ,LogHour                          INTEGER
 ,Node_Type                        VARCHAR(16)
 ,Node_Cnt                         SMALLINT
 ,vCPU_per_Node                    SMALLINT
 ,Total_AMPs                       SMALLINT
     
 ,App_Bucket                       VARCHAR(256) CHARACTER SET LATIN
 ,Use_Bucket                       VARCHAR(256) CHARACTER SET LATIN
 ,Statement_Bucket                 VARCHAR(256) CHARACTER SET LATIN
 ,User_Bucket                      VARCHAR(256) CHARACTER SET LATIN
-- ,Is_Discrete_Human                CHAR(3)      CHARACTER SET LATIN
 ,User_Department                  VARCHAR(256) CHARACTER SET LATIN
 ,User_SubDepartment               VARCHAR(256) CHARACTER SET LATIN
-- ,User_Region                      VARCHAR(256) CHARACTER SET LATIN
-- ,WDName                           VARCHAR(256) CHARACTER SET LATIN
-- ,Query_Type                       VARCHAR(256) CHARACTER SET LATIN

 ,Request_Cnt                      INT
 ,Query_Cnt                        INT
 ,Query_MultiStatement_Cnt         INT
 ,Query_Error_Cnt                  INT
 ,Query_Abort_Cnt                  INT
 ,Query_NoIO_cnt                   INT
 ,Query_InMem_Cnt                  INT
 ,Query_PhysIO_Cnt                 INT
 ,Query_Tactical_Cnt               INT
 ,Query_Complexity_Score_Avg       DECIMAL(18,4)
 ,Returned_Row_Cnt                 BIGINT

 ,DelayTime_Sec                    DECIMAL(18,4)
 ,Runtime_Parse_Sec                DECIMAL(18,4)
 ,Runtime_AMP_Sec                  DECIMAL(18,4)
 ,Runtime_Total_Sec                DECIMAL(18,4)
 ,TransferTime_Sec                 DECIMAL(18,4)

 ,CPU_Parse_Sec                    DECIMAL(18,2)
 ,CPU_AMP_Sec                      DECIMAL(18,2)
 ,CPU_Total_DBS_Sec                DECIMAL(18,2)
 ,CPU_Total_OS_Sec                 DECIMAL(18,2)
 ,CPU_Total_IOWait_Sec             DECIMAL(18,2)
 ,CPU_Total_Idle_Sec               DECIMAL(18,2)
 ,CPU_Total_Sec                    DECIMAL(18,2)

 ,IOCntM_Physical                  BIGINT
 ,IOCntM_Total                     BIGINT
 ,IOGB_Physical                    DECIMAL(18,4)
 ,IOGB_Total                       DECIMAL(18,4)
 ,IOTA_Used_cntB                   DECIMAL(18,4)
 ,IOTA_SysMax_cntB                 DECIMAL(18,4)
     
 ,NumOfActiveAMPs_Avg              DECIMAL(9,4)
 ,Spool_GB                         DECIMAL(18,4)
 ,Spool_GB_Avg                     DECIMAL(18,4)
 ,CacheHit_Pct                     DECIMAL(9,4)     
 ,CPUSec_Skew_AvgPCt               DECIMAL(9,4)
 ,IOCnt_Skew_AvgPct                DECIMAL(9,4)

 ,qrycnt_in_runtime_0000_0001      BIGINT
 ,qrycnt_in_runtime_0001_0005      BIGINT
 ,qrycnt_in_runtime_0005_0010      BIGINT
 ,qrycnt_in_runtime_0010_0030      BIGINT
 ,qrycnt_in_runtime_0030_0060      BIGINT
 ,qrycnt_in_runtime_0060_0300      BIGINT
 ,qrycnt_in_runtime_0300_0600      BIGINT
 ,qrycnt_in_runtime_0600_1800      BIGINT
 ,qrycnt_in_runtime_1800_3600      BIGINT
 ,qrycnt_in_runtime_3600_plus      BIGINT
 ,cpusec_in_runtime_0000_0001      DECIMAL(18,4)
 ,cpusec_in_runtime_0001_0005      DECIMAL(18,4)
 ,cpusec_in_runtime_0005_0010      DECIMAL(18,4)
 ,cpusec_in_runtime_0010_0030      DECIMAL(18,4)
 ,cpusec_in_runtime_0030_0060      DECIMAL(18,4)
 ,cpusec_in_runtime_0060_0300      DECIMAL(18,4)
 ,cpusec_in_runtime_0300_0600      DECIMAL(18,4)
 ,cpusec_in_runtime_0600_1800      DECIMAL(18,4)
 ,cpusec_in_runtime_1800_3600      DECIMAL(18,4)
 ,cpusec_in_runtime_3600_plus      DECIMAL(18,4)
 ,iogb_in_runtime_0000_0001        DECIMAL(18,4)
 ,iogb_in_runtime_0001_0005        DECIMAL(18,4)
 ,iogb_in_runtime_0005_0010        DECIMAL(18,4)
 ,iogb_in_runtime_0010_0030        DECIMAL(18,4)
 ,iogb_in_runtime_0030_0060        DECIMAL(18,4)
 ,iogb_in_runtime_0060_0300        DECIMAL(18,4)
 ,iogb_in_runtime_0300_0600        DECIMAL(18,4)
 ,iogb_in_runtime_0600_1800        DECIMAL(18,4)
 ,iogb_in_runtime_1800_3600        DECIMAL(18,4)
 ,iogb_in_runtime_3600_plus        DECIMAL(18,4)
 ,qrycnt_in_delaytime_0000_0001    BIGINT
 ,qrycnt_in_delaytime_0001_0005    BIGINT
 ,qrycnt_in_delaytime_0005_0010    BIGINT
 ,qrycnt_in_delaytime_0010_0030    BIGINT
 ,qrycnt_in_delaytime_0030_0060    BIGINT
 ,qrycnt_in_delaytime_0060_0300    BIGINT
 ,qrycnt_in_delaytime_0300_0600    BIGINT
 ,qrycnt_in_delaytime_0600_1800    BIGINT
 ,qrycnt_in_delaytime_1800_3600    BIGINT
 ,qrycnt_in_delaytime_3600_plus    BIGINT
 ,cpusec_in_delaytime_0000_0001    DECIMAL(18,4)
 ,cpusec_in_delaytime_0001_0005    DECIMAL(18,4)
 ,cpusec_in_delaytime_0005_0010    DECIMAL(18,4)
 ,cpusec_in_delaytime_0010_0030    DECIMAL(18,4)
 ,cpusec_in_delaytime_0030_0060    DECIMAL(18,4)
 ,cpusec_in_delaytime_0060_0300    DECIMAL(18,4)
 ,cpusec_in_delaytime_0300_0600    DECIMAL(18,4)
 ,cpusec_in_delaytime_0600_1800    DECIMAL(18,4)
 ,cpusec_in_delaytime_1800_3600    DECIMAL(18,4)
 ,cpusec_in_delaytime_3600_plus    DECIMAL(18,4)
 ,iogb_in_delaytime_0000_0001      DECIMAL(18,4)
 ,iogb_in_delaytime_0001_0005      DECIMAL(18,4)
 ,iogb_in_delaytime_0005_0010      DECIMAL(18,4)
 ,iogb_in_delaytime_0010_0030      DECIMAL(18,4)
 ,iogb_in_delaytime_0030_0060      DECIMAL(18,4)
 ,iogb_in_delaytime_0060_0300      DECIMAL(18,4)
 ,iogb_in_delaytime_0300_0600      DECIMAL(18,4)
 ,iogb_in_delaytime_0600_1800      DECIMAL(18,4)
 ,iogb_in_delaytime_1800_3600      DECIMAL(18,4)
 ,iogb_in_delaytime_3600_plus      DECIMAL(18,4)
 ) No Primary index
 on commit preserve rows;

Success: 0 rows affected

### TARGET TABLE -- coat_dat_DBQL_Core & coat_dat_CPU

In [92]:
-- drop table adlste_coa.coat_dat_DBQL_Core

Success: 378 rows affected

In [98]:
CREATE MULTISET TABLE adlste_coa.coat_dat_DBQL_Core ,FALLBACK ,
     NO BEFORE JOURNAL,
     NO AFTER JOURNAL,
     CHECKSUM = DEFAULT,
     DEFAULT MERGEBLOCKRATIO
     (
      Row_Key BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY
           (START WITH 1 
            INCREMENT BY 1 
            MINVALUE -999999999999999999 
            MAXVALUE 999999999999999999 
            NO CYCLE),
      Site_ID       VARCHAR(64) CHARACTER SET LATIN NOT CASESPECIFIC,
      LogDate       DATE FORMAT 'YYYY/MM/DD',
      LogHour       BYTEINT,
      LogDateHour   TIMESTAMP(0),
      Node_Type     VARCHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC COMPRESS (Null, 'Unknown','','1650','1700','1700T','1750T','1800E','1800T','200CL','210','210CL','2500','2550','2555','2580','2650','2690','2700','2750','2800','2850','4300','4400','4475','4800','4855','4950','5350','5380','5400','5450','5500','550P','550S','551P','5550','5555','5600','560P','5650','6650','6680','6690','670','6700','6750','680','6800','700','7000','7010','7011','7015','720','7200','7210','750','9156','9195','9211','9212','9230','9231','9232','9233','9234','CO-EXIST','N/A','S55','SWS','TBD','Third Party','Third Party Amazon','Third Party Azure','Third Party TVME','UNDEFINED'),
      Node_Cnt      SMALLINT,
      vCPU_per_Node SMALLINT,
      Total_AMPs    INTEGER COMPRESS (2928 ,1920 ,144 ,1512 ),
         
      App_Bucket         VARCHAR(256) CHARACTER SET LATIN NOT CASESPECIFIC COMPRESS ('Unknown','BTEQ','JDBC','TPTStream','TPT','Tableau','BOBJ','Python','SQLAssistant','Microstrategy','TD-BAR','PHP','SAP BODS','MS IIS'),
      Use_Bucket         VARCHAR(256) CHARACTER SET LATIN NOT CASESPECIFIC COMPRESS ('Application','Analytic','Unknown','ETL','ETL/Export','Backup'),
      Statement_Bucket   VARCHAR(256) CHARACTER SET LATIN NOT CASESPECIFIC COMPRESS ('Select','Set Session','Transaction','Insert','Other','Create Table','Collect Stats','Drop Table','Delete','Update','Create Object','Load','Call SP','Drop Object','Merge','Admin','Exec Macro','Unknown'),
      User_Bucket        VARCHAR(256) CHARACTER SET LATIN NOT CASESPECIFIC COMPRESS ('Unknown','COMMON','SERVICES','Finance','SUPPLY CHAIN','SALES','ETL','MBR','TDInternal','CPS','Admin','EDS','DATALAKE','Analytic','AUDIT','MARKETING','Services IT','Operations Architecture','D&A','WEBEX','HR','CSSD','GTMS','Engineering','eDSS IT','ALL','CLICKSTREAM','Commerce IT','TDInternal-DBC','EDSS'),
      --Is_Discrete_Human CHAR(3) 
      User_Department    VARCHAR(256) CHARACTER SET LATIN NOT CASESPECIFIC COMPRESS ('Unknown','COMMON','dept','SERVICES','Finance','SUPPLY CHAIN','SALES','MBR','CPS','EDS','DATALAKE','AUDIT','MARKETING','Services IT','Operations Architecture','D&A','WEBEX','HR','CSSD','GTMS','Engineering','eDSS IT','ALL','CLICKSTREAM','Commerce IT','EDSS'),
      User_SubDepartment VARCHAR(256) CHARACTER SET LATIN NOT CASESPECIFIC COMPRESS ('Unknown','subdept','DATA REPLICATION','Bookings','SERVICES','COMREF','Finance BI - Expense & HC Cube','NRT','CPS TABLEAU DASHBOARD BSC/DLS','GPF (Global Planning and Fulfi','FinBI BO - Bookings','Customer Service','FINANCE','Manufacturing','FinBI BO - Revenue','MBR SOLR EXTRACT','Service Bureau','PSS Bookings Dashboard','Sales Booking Report','Cisco Refresh NextGen Program','Resource Visibility','Unbooked Tool','Finance Common Layer Extracts','Data Integration through Apach','REPLIC','Install Base - IB','Data Lake','MBR Channels','MIGRATION','CSSO BI Dashboard','Finance CFA','ASBI EXTRACTS','AUDIT','CV Bookings','CSSO BO','SNOWFLAKE EXTRACTS','APJ Pricing','CRM','NOT USED','SECURITY','Services BO','Architect','HANA DATA SIMPLIFICATION','ASBI','Human Resource - HR','DF (Return on Investment)','SERVICE ADOPTION METRICS','SCSU','KAFKA','Gray Market','Integrate Tableau Metrics With','Expense & Headcount Cube','Cloud Data Quality','WeBEX','MBR Proxy UI','MARKETING','FIN BI REVENUE','WPR extract','Dise','FIAT','ICS','Services BI','Landing Zone - LZ','CLIP','Sharp','BART AUTOMATION','FinBI Bkgs Cube','BIDSMETRICS','Finance P&L Application','SPLUNK','LS Sales BI','Learning Credit Management Too','Finance GL Cube','CPE','INTEGRATED PLANNING WORKBENCH','Data Virtualization tool','REPORTING','Revenue Attribution','DP-Adhoc','Transformation Account','DCV','LEARNING SERVICES BOOKINGS','Marketing Mrm','DMS','Capital','QDI Data Warehouse','GBOSS','TSA (Technical Service Advanta','MMC - Travel','OIC','PPP','SERVICES SALES DOMO','Royalty','Collect Stats','SECURED HR DATA FOR RAM IN SAP','SCIC','NOSTG','SBG IOPS','NGCCRM','X-1','GALAXY','For TSS Extraction','ETL','Ani Application','Athena','CIC','ALL','Clickstream','Item Hub','Cogs Audit','OM LSS','ICM - Telephony Data','Operations','ADAP','S2R','IFP','Excel Upload Util','EDWTD BO','Publish','CSSO BSC','IAM','EDSS','Parma','INternal'),
      --User_Region VARCHAR(256) CHARACTER SET LATIN NOT CASESPECIFIC COMPRESS ('Unknown','All','rgn'),
      --WDName VARCHAR(256) 
      --Query_Type VARCHAR(256) 

      Request_Cnt                 INT COMPRESS (256 ,1 ,2 ,258 ,3 ,4 ,516 ,5 ,6 ,7 ,8 ,264 ,9 ,10 ,11 ,267 ,12 ,13 ,14 ,270 ,15 ,16 ,272 ,17 ,18 ,19 ,20 ,21 ,22 ,23 ,24 ,25 ,537 ,26 ,27 ,28 ,540 ,29 ,30 ,31 ,32 ,288 ,33 ,34 ,35 ,36 ,292 ,37 ,38 ,294 ,39 ,40 ,41 ,42 ,43 ,299 ,44 ,45 ,46 ,47 ,48 ,49 ,50 ,51 ,52 ,53 ,54 ,55 ,56 ,57 ,313 ,58 ,59 ,60 ,61 ,62 ,63 ,64 ,576 ,832 ,65 ,66 ,67 ,68 ,69 ,70 ,582 ,71 ,72 ,73 ,74 ,330 ,75 ,76 ,77 ,78 ,846 ,79 ,80 ,336 ,81 ,82 ,83 ,84 ,340 ,85 ,86 ,598 ,87 ,88 ,344 ,89 ,345 ,90 ,91 ,92 ,348 ,93 ,349 ,94 ,95 ,96 ,97 ,98 ,99 ,100 ,356 ,101 ,102 ,103 ,104 ,360 ,105 ,106 ,107 ,108 ,109 ,110 ,111 ,112 ,368 ,113 ,114 ,370 ,115 ,116 ,117 ,118 ,374 ,119 ,120 ,121 ,122 ,123 ,124 ,125 ,126 ,127 ,128 ,384 ,129 ,130 ,131 ,643 ,132 ,133 ,134 ,135 ,136 ,137 ,138 ,139 ,140 ,141 ,142 ,143 ,144 ,145 ,146 ,147 ,148 ,404 ,149 ,150 ,151 ,152 ,153 ,154 ,155 ,156 ,157 ,158 ,159 ,160 ,416 ,161 ,162 ,163 ,164 ,420 ,165 ,166 ,167 ,168 ,169 ,170 ,171 ,172 ,428 ,173 ,174 ,175 ,176 ,432 ,177 ,178 ,179 ,180 ,181 ,182 ,183 ,184 ,185 ,186 ,187 ,188 ,189 ,190 ,192 ,193 ,194 ,195 ,196 ,198 ,200 ,201 ,202 ,204 ,208 ,210 ,214 ,216 ,217 ,220 ,222 ,224 ,736 ,227 ,483 ,228 ,240 ,246 ,248 ,252 ),
      Query_Cnt                   INT COMPRESS (0 ,256 ,1 ,2 ,258 ,3 ,4 ,516 ,5 ,6 ,7 ,519 ,8 ,264 ,9 ,10 ,11 ,12 ,13 ,14 ,270 ,15 ,16 ,272 ,17 ,18 ,19 ,20 ,21 ,22 ,23 ,24 ,25 ,26 ,27 ,28 ,540 ,29 ,30 ,31 ,32 ,288 ,33 ,34 ,35 ,36 ,292 ,37 ,38 ,294 ,39 ,40 ,41 ,42 ,43 ,299 ,44 ,45 ,46 ,47 ,48 ,49 ,50 ,51 ,52 ,53 ,54 ,55 ,56 ,57 ,313 ,58 ,59 ,60 ,61 ,62 ,63 ,64 ,576 ,832 ,65 ,66 ,67 ,68 ,69 ,70 ,71 ,72 ,73 ,74 ,330 ,75 ,76 ,77 ,78 ,846 ,79 ,80 ,336 ,81 ,82 ,83 ,84 ,340 ,85 ,86 ,598 ,87 ,88 ,344 ,600 ,89 ,345 ,90 ,91 ,92 ,348 ,93 ,349 ,94 ,95 ,96 ,97 ,98 ,99 ,100 ,101 ,102 ,103 ,104 ,360 ,105 ,106 ,107 ,108 ,109 ,110 ,111 ,112 ,368 ,113 ,114 ,370 ,115 ,116 ,117 ,118 ,374 ,119 ,120 ,121 ,122 ,123 ,124 ,125 ,126 ,127 ,128 ,384 ,129 ,130 ,131 ,643 ,132 ,133 ,134 ,135 ,136 ,137 ,138 ,139 ,140 ,141 ,142 ,143 ,144 ,145 ,146 ,147 ,148 ,404 ,149 ,150 ,151 ,152 ,153 ,154 ,155 ,156 ,157 ,158 ,159 ,160 ,416 ,161 ,162 ,163 ,164 ,420 ,165 ,166 ,167 ,168 ,169 ,170 ,171 ,172 ,428 ,173 ,174 ,175 ,176 ,432 ,177 ,178 ,179 ,180 ,181 ,182 ,183 ,184 ,185 ,186 ,187 ,188 ,189 ,190 ,1215 ,192 ,193 ,194 ,195 ,196 ,198 ,200 ,202 ,204 ,208 ,210 ,214 ,216 ,217 ,220 ,222 ,224 ,736 ,226 ,228 ,240 ,246 ,248 ,504 ,252 ,254 ),
      Query_MultiStatement_Cnt    INT COMPRESS (0,1,2,3,4,5,6,7,8,9,10),
      Query_Error_Cnt             INT COMPRESS (0 ,1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,12 ,14 ,24 ),
      Query_Abort_Cnt             INT COMPRESS 0 ,
      Query_NoIO_cnt              INT COMPRESS (0 ,256 ,1 ,2 ,258 ,3 ,4 ,5 ,6 ,7 ,519 ,8 ,264 ,9 ,10 ,11 ,12 ,13 ,525 ,14 ,270 ,15 ,16 ,17 ,18 ,19 ,20 ,21 ,22 ,23 ,24 ,25 ,26 ,27 ,28 ,540 ,29 ,30 ,31 ,32 ,288 ,33 ,34 ,35 ,36 ,37 ,38 ,39 ,40 ,41 ,42 ,810 ,43 ,299 ,44 ,45 ,46 ,47 ,48 ,560 ,49 ,50 ,51 ,52 ,53 ,54 ,55 ,56 ,57 ,58 ,59 ,315 ,1083 ,60 ,61 ,62 ,63 ,64 ,576 ,65 ,66 ,67 ,68 ,69 ,70 ,71 ,72 ,4680 ,73 ,74 ,75 ,76 ,77 ,78 ,846 ,79 ,80 ,336 ,81 ,82 ,83 ,84 ,340 ,1620 ,85 ,86 ,87 ,88 ,600 ,89 ,345 ,90 ,2394 ,91 ,92 ,93 ,349 ,94 ,95 ,96 ,97 ,98 ,99 ,100 ,101 ,102 ,103 ,104 ,360 ,105 ,106 ,107 ,108 ,109 ,110 ,111 ,112 ,368 ,113 ,369 ,114 ,115 ,116 ,117 ,118 ,119 ,120 ,121 ,122 ,123 ,124 ,125 ,126 ,127 ,128 ,384 ,129 ,130 ,131 ,132 ,133 ,134 ,135 ,136 ,137 ,138 ,139 ,140 ,141 ,142 ,143 ,144 ,145 ,146 ,147 ,148 ,149 ,150 ,918 ,151 ,152 ,153 ,154 ,155 ,156 ,157 ,413 ,158 ,159 ,160 ,416 ,161 ,417 ,162 ,163 ,164 ,420 ,165 ,166 ,167 ,168 ,169 ,170 ,171 ,939 ,172 ,173 ,174 ,175 ,176 ,432 ,177 ,178 ,179 ,180 ,2228 ,181 ,182 ,183 ,184 ,696 ,185 ,186 ,187 ,188 ,189 ,190 ,1215 ,192 ,193 ,194 ,196 ,197 ,198 ,200 ,201 ,202 ,204 ,207 ,208 ,210 ,212 ,214 ,216 ,217 ,220 ,222 ,224 ,226 ,1262 ,240 ,248 ,504 ,252 ),
      Query_InMem_Cnt             INT COMPRESS (0 ,1 ,2 ,258 ,1794 ,3 ,259 ,4 ,5 ,6 ,262 ,7 ,8 ,9 ,10 ,11 ,12 ,1548 ,13 ,14 ,15 ,16 ,272 ,17 ,18 ,19 ,20 ,21 ,22 ,23 ,24 ,25 ,26 ,27 ,28 ,29 ,30 ,31 ,32 ,544 ,33 ,34 ,35 ,36 ,292 ,37 ,38 ,294 ,39 ,40 ,41 ,42 ,43 ,299 ,44 ,45 ,46 ,47 ,48 ,49 ,50 ,51 ,52 ,53 ,54 ,55 ,56 ,57 ,58 ,59 ,60 ,316 ,61 ,62 ,63 ,64 ,320 ,65 ,66 ,67 ,68 ,324 ,69 ,70 ,71 ,72 ,73 ,74 ,75 ,76 ,77 ,78 ,79 ,80 ,81 ,82 ,83 ,84 ,85 ,86 ,87 ,88 ,89 ,90 ,91 ,92 ,93 ,94 ,95 ,96 ,97 ,98 ,99 ,100 ,101 ,102 ,103 ,104 ,105 ,106 ,107 ,108 ,109 ,110 ,111 ,112 ,113 ,114 ,115 ,116 ,117 ,118 ,119 ,120 ,121 ,122 ,123 ,124 ,125 ,126 ,127 ,128 ,129 ,130 ,131 ,132 ,133 ,134 ,135 ,136 ,137 ,138 ,139 ,140 ,141 ,142 ,143 ,144 ,145 ,146 ,147 ,148 ,149 ,150 ,151 ,152 ,153 ,154 ,155 ,667 ,156 ,157 ,158 ,159 ,160 ,672 ,2208 ,161 ,162 ,163 ,164 ,165 ,166 ,167 ,168 ,169 ,170 ,171 ,172 ,173 ,174 ,175 ,176 ,432 ,177 ,689 ,178 ,179 ,180 ,181 ,182 ,183 ,184 ,185 ,697 ,186 ,187 ,188 ,189 ,190 ,191 ,192 ,193 ,194 ,195 ,196 ,197 ,198 ,199 ,200 ,201 ,202 ,203 ,204 ,205 ,206 ,207 ,208 ,209 ,210 ,211 ,212 ,213 ,214 ,216 ,217 ,218 ,219 ,220 ,222 ,223 ,224 ,225 ,226 ,228 ,234 ,236 ,238 ,239 ,240 ,242 ,246 ,248 ,254 ),
      Query_PhysIO_Cnt            INT COMPRESS (0 ,1 ,2 ,3 ,4 ,516 ,5 ,6 ,7 ,8 ,264 ,9 ,10 ,11 ,12 ,13 ,14 ,15 ,16 ,17 ,18 ,786 ,19 ,20 ,21 ,22 ,23 ,24 ,25 ,26 ,27 ,28 ,29 ,30 ,31 ,32 ,33 ,34 ,35 ,36 ,37 ,38 ,39 ,40 ,41 ,42 ,43 ,44 ,45 ,46 ,47 ,48 ,49 ,50 ,51 ,52 ,53 ,54 ,55 ,56 ,57 ,58 ,59 ,60 ,61 ,62 ,63 ,64 ,832 ,65 ,66 ,67 ,68 ,69 ,70 ,71 ,72 ,73 ,74 ,75 ,76 ,77 ,78 ,79 ,80 ,81 ,82 ,83 ,84 ,85 ,86 ,598 ,87 ,88 ,89 ,90 ,91 ,92 ,93 ,94 ,95 ,96 ,97 ,98 ,99 ,100 ,101 ,102 ,103 ,104 ,105 ,106 ,107 ,108 ,109 ,110 ,111 ,112 ,113 ,114 ,370 ,115 ,116 ,117 ,118 ,119 ,120 ,121 ,122 ,123 ,124 ,125 ,126 ,127 ,128 ,129 ,130 ,131 ,132 ,133 ,134 ,135 ,136 ,137 ,138 ,139 ,140 ,141 ,142 ,143 ,911 ,144 ,145 ,146 ,147 ,148 ,149 ,150 ,151 ,152 ,153 ,154 ,155 ,156 ,157 ,158 ,159 ,160 ,161 ,162 ,163 ,419 ,164 ,165 ,166 ,167 ,168 ,680 ,169 ,170 ,171 ,172 ,173 ,174 ,175 ,176 ,177 ,178 ,434 ,179 ,180 ,181 ,182 ,183 ,184 ,185 ,186 ,187 ,188 ,189 ,190 ,191 ,192 ,193 ,194 ,195 ,196 ,197 ,198 ,199 ,200 ,201 ,202 ,203 ,204 ,205 ,206 ,207 ,208 ,209 ,210 ,211 ,212 ,213 ,214 ,215 ,217 ,218 ,219 ,220 ,221 ,222 ,223 ,224 ,736 ,225 ,226 ,738 ,228 ,229 ,230 ,232 ,233 ,234 ,236 ,238 ,239 ,242 ,243 ,244 ,245 ,250 ,252 ,253 ),
      Query_Tactical_Cnt          INT COMPRESS 0 ,
      Query_Complexity_Score_Avg  DECIMAL(18,4) COMPRESS (0.0000 ,16.0000 ,96.0000 ,0.6667 ,1.0000 ,2.0000 ,18.0000 ,435.0000 ,3.0000 ,3.6667 ,68.0000 ,36.0000 ,4.0000 ,5.0000 ,38.0000 ,6.0000 ,7.0000 ,40.0000 ,8.0000 ,24.0000 ,0.5000 ,74.0000 ,10.0000 ,2.1667 ,6.7500 ,12.0000 ,5.5000 ,14.0000 ,15.0000 ,1.1250 ),
      Returned_Row_Cnt            BIGINT COMPRESS (0 ,1 ),
         
      DelayTime_Sec               DECIMAL(18,4) COMPRESS 0,
      Runtime_Parse_Sec           DECIMAL(18,4) COMPRESS (0.0000 ,0.6400 ,1.2800 ,1.9200 ,0.4100 ,1.0500 ,1.6900 ,2.3300 ,0.1800 ,0.8200 ,1.4600 ,2.1000 ,0.5900 ,1.2300 ,1.8700 ,2.5100 ,0.3600 ,1.0000 ,1.6400 ,2.2800 ,0.1300 ,0.7700 ,1.4100 ,2.0500 ,0.5400 ,1.1800 ,1.8200 ,2.4600 ,0.3100 ,0.9500 ,1.5900 ,2.2300 ,0.0800 ,0.7200 ,1.3600 ,2.0000 ,0.4900 ,1.1300 ,1.7700 ,2.4100 ,0.2600 ,0.9000 ,1.5400 ,2.1800 ,0.0300 ,0.6700 ,1.3100 ,1.9500 ,0.4400 ,1.0800 ,1.7200 ,2.3600 ,0.2100 ,0.8500 ,1.4900 ,2.1300 ,0.6200 ,1.2600 ,1.9000 ,0.3900 ,1.0300 ,1.6700 ,2.3100 ,0.1600 ,0.8000 ,1.4400 ,2.0800 ,0.5700 ,1.2100 ,1.8500 ,2.4900 ,0.3400 ,0.9800 ,1.6200 ,2.2600 ,0.1100 ,0.7500 ,1.3900 ,2.0300 ,0.5200 ,1.1600 ,1.8000 ,2.4400 ,0.2900 ,0.9300 ,1.5700 ,2.2100 ,0.0600 ,0.7000 ,1.3400 ,1.9800 ,0.4700 ,1.1100 ,1.7500 ,2.3900 ,0.2400 ,0.8800 ,1.5200 ,2.1600 ,0.0100 ,0.6500 ,1.2900 ,1.9300 ,0.4200 ,1.0600 ,1.7000 ,2.3400 ,0.1900 ,0.8300 ,1.4700 ,2.1100 ,0.6000 ,1.2400 ,1.8800 ,0.3700 ,1.0100 ,1.6500 ,2.2900 ,0.1400 ,0.7800 ,1.4200 ,2.0600 ,0.5500 ,1.1900 ,1.8300 ,2.4700 ,0.3200 ,0.9600 ,1.6000 ,2.2400 ,0.0900 ,0.7300 ,1.3700 ,2.0100 ,0.5000 ,1.1400 ,1.7800 ,2.4200 ,0.2700 ,0.9100 ,1.5500 ,2.1900 ,0.0400 ,0.6800 ,1.3200 ,1.9600 ,0.4500 ,1.0900 ,1.7300 ,2.3700 ,0.2200 ,0.8600 ,1.5000 ,2.1400 ,0.6300 ,1.2700 ,1.9100 ,2.5500 ,0.4000 ,1.0400 ,1.6800 ,2.3200 ,0.1700 ,0.8100 ,1.4500 ,2.0900 ,0.5800 ,1.2200 ,1.8600 ,2.5000 ,0.3500 ,0.9900 ,1.6300 ,2.2700 ,0.1200 ,0.7600 ,1.4000 ,2.0400 ,0.5300 ,1.1700 ,1.8100 ,2.4500 ,0.3000 ,0.9400 ,1.5800 ,2.2200 ,0.0700 ,0.7100 ,1.3500 ,1.9900 ,0.4800 ,1.1200 ,1.7600 ,2.4000 ,0.2500 ,0.8900 ,1.5300 ,2.1700 ,0.0200 ,0.6600 ,1.3000 ,1.9400 ,2.5800 ,0.4300 ,1.0700 ,1.7100 ,2.3500 ,0.2000 ,0.8400 ,1.4800 ,2.1200 ,0.6100 ,1.2500 ,1.8900 ,2.5300 ,0.3800 ,1.0200 ,1.6600 ,2.3000 ,0.1500 ,0.7900 ,1.4300 ,2.0700 ,0.5600 ,1.2000 ,1.8400 ,0.3300 ,0.9700 ,1.6100 ,2.2500 ,0.1000 ,0.7400 ,1.3800 ,2.0200 ,0.5100 ,1.1500 ,1.7900 ,2.4300 ,0.2800 ,0.9200 ,1.5600 ,2.2000 ,0.0500 ,0.6900 ,1.3300 ,1.9700 ,0.4600 ,1.1000 ,1.7400 ,2.3800 ,0.2300 ,0.8700 ,1.5100 ,2.1500 ),
      Runtime_AMP_Sec             DECIMAL(18,4) COMPRESS (0.0000 ,0.6400 ,1.2800 ,1.9200 ,0.4100 ,1.0500 ,1.6900 ,2.3300 ,0.1800 ,0.8200 ,1.4600 ,2.1000 ,0.5900 ,1.2300 ,1.8700 ,0.3600 ,1.0000 ,1.6400 ,2.2800 ,0.1300 ,0.7700 ,1.4100 ,2.0500 ,0.5400 ,1.1800 ,1.8200 ,2.4600 ,0.3100 ,0.9500 ,1.5900 ,2.2300 ,0.0800 ,0.7200 ,1.3600 ,2.0000 ,0.4900 ,1.1300 ,1.7700 ,2.4100 ,0.2600 ,0.9000 ,1.5400 ,2.1800 ,0.0300 ,0.6700 ,1.3100 ,1.9500 ,0.4400 ,1.0800 ,1.7200 ,2.3600 ,0.2100 ,0.8500 ,1.4900 ,2.1300 ,0.6200 ,1.2600 ,1.9000 ,2.5400 ,0.3900 ,1.0300 ,1.6700 ,2.3100 ,0.1600 ,0.8000 ,1.4400 ,2.0800 ,2.7200 ,0.5700 ,1.2100 ,1.8500 ,2.4900 ,0.3400 ,0.9800 ,1.6200 ,2.2600 ,0.1100 ,0.7500 ,1.3900 ,2.0300 ,0.5200 ,1.1600 ,1.8000 ,2.4400 ,0.2900 ,0.9300 ,1.5700 ,2.2100 ,0.0600 ,0.7000 ,1.3400 ,1.9800 ,0.4700 ,1.1100 ,1.7500 ,2.3900 ,0.2400 ,0.8800 ,1.5200 ,2.1600 ,0.0100 ,0.6500 ,1.2900 ,1.9300 ,2.5700 ,0.4200 ,1.0600 ,1.7000 ,2.3400 ,0.1900 ,0.8300 ,1.4700 ,2.1100 ,0.6000 ,1.2400 ,1.8800 ,2.5200 ,0.3700 ,1.0100 ,1.6500 ,2.2900 ,0.1400 ,0.7800 ,1.4200 ,2.0600 ,0.5500 ,1.1900 ,1.8300 ,0.3200 ,0.9600 ,1.6000 ,2.2400 ,0.0900 ,0.7300 ,1.3700 ,2.0100 ,0.5000 ,1.1400 ,1.7800 ,2.4200 ,0.2700 ,0.9100 ,1.5500 ,2.1900 ,0.0400 ,0.6800 ,1.3200 ,1.9600 ,0.4500 ,1.0900 ,1.7300 ,2.3700 ,0.2200 ,0.8600 ,1.5000 ,2.1400 ,0.6300 ,1.2700 ,1.9100 ,0.4000 ,1.0400 ,1.6800 ,2.3200 ,0.1700 ,0.8100 ,1.4500 ,2.0900 ,0.5800 ,1.2200 ,1.8600 ,0.3500 ,0.9900 ,1.6300 ,2.2700 ,0.1200 ,0.7600 ,1.4000 ,2.0400 ,0.5300 ,1.1700 ,1.8100 ,2.4500 ,0.3000 ,0.9400 ,1.5800 ,2.2200 ,0.0700 ,0.7100 ,1.3500 ,1.9900 ,2.6300 ,0.4800 ,1.1200 ,1.7600 ,2.4000 ,0.2500 ,0.8900 ,1.5300 ,2.1700 ,0.0200 ,0.6600 ,1.3000 ,1.9400 ,0.4300 ,1.0700 ,1.7100 ,2.3500 ,0.2000 ,0.8400 ,1.4800 ,2.1200 ,0.6100 ,1.2500 ,1.8900 ,0.3800 ,1.0200 ,1.6600 ,2.3000 ,0.1500 ,0.7900 ,1.4300 ,2.0700 ,0.5600 ,1.2000 ,1.8400 ,0.3300 ,0.9700 ,1.6100 ,2.2500 ,0.1000 ,0.7400 ,1.3800 ,2.0200 ,0.5100 ,1.1500 ,1.7900 ,2.4300 ,0.2800 ,0.9200 ,1.5600 ,2.2000 ,0.0500 ,0.6900 ,1.3300 ,1.9700 ,2.6100 ,0.4600 ,1.1000 ,1.7400 ,2.3800 ,0.2300 ,0.8700 ,1.5100 ,2.1500 ),
      Runtime_Total_Sec           DECIMAL(18,4) COMPRESS (0.6400 ,1.2800 ,1.9200 ,0.4100 ,1.0500 ,1.6900 ,2.3300 ,0.1800 ,0.8200 ,1.4600 ,2.1000 ,2.7400 ,0.5900 ,1.2300 ,1.8700 ,0.3600 ,1.0000 ,1.6400 ,2.2800 ,0.1300 ,0.7700 ,1.4100 ,2.0500 ,0.5400 ,1.1800 ,1.8200 ,2.4600 ,0.3100 ,0.9500 ,1.5900 ,2.2300 ,0.0800 ,0.7200 ,1.3600 ,2.0000 ,0.4900 ,1.1300 ,1.7700 ,2.4100 ,0.2600 ,0.9000 ,1.5400 ,2.1800 ,0.0300 ,0.6700 ,1.3100 ,1.9500 ,2.5900 ,0.4400 ,1.0800 ,1.7200 ,2.3600 ,0.2100 ,0.8500 ,1.4900 ,2.1300 ,0.6200 ,1.2600 ,1.9000 ,2.5400 ,0.3900 ,1.0300 ,1.6700 ,2.3100 ,0.1600 ,0.8000 ,1.4400 ,2.0800 ,0.5700 ,1.2100 ,1.8500 ,2.4900 ,0.3400 ,0.9800 ,1.6200 ,2.2600 ,0.1100 ,0.7500 ,1.3900 ,2.0300 ,0.5200 ,1.1600 ,1.8000 ,2.4400 ,0.2900 ,0.9300 ,1.5700 ,2.2100 ,0.0600 ,0.7000 ,1.3400 ,1.9800 ,2.6200 ,0.4700 ,1.1100 ,1.7500 ,2.3900 ,0.2400 ,0.8800 ,1.5200 ,2.1600 ,0.0100 ,0.6500 ,1.2900 ,1.9300 ,0.4200 ,1.0600 ,1.7000 ,2.3400 ,0.1900 ,0.8300 ,1.4700 ,2.1100 ,0.6000 ,1.2400 ,1.8800 ,2.5200 ,0.3700 ,1.0100 ,1.6500 ,2.2900 ,0.1400 ,0.7800 ,1.4200 ,2.0600 ,0.5500 ,1.1900 ,1.8300 ,2.4700 ,0.3200 ,0.9600 ,1.6000 ,2.2400 ,0.0900 ,0.7300 ,1.3700 ,2.0100 ,0.5000 ,1.1400 ,1.7800 ,2.4200 ,0.2700 ,0.9100 ,1.5500 ,2.1900 ,0.0400 ,0.6800 ,1.3200 ,1.9600 ,0.4500 ,1.0900 ,1.7300 ,2.3700 ,0.2200 ,0.8600 ,1.5000 ,2.1400 ,0.6300 ,1.2700 ,1.9100 ,0.4000 ,1.0400 ,1.6800 ,2.3200 ,0.1700 ,0.8100 ,1.4500 ,2.0900 ,0.5800 ,1.2200 ,1.8600 ,0.3500 ,0.9900 ,1.6300 ,2.2700 ,0.1200 ,0.7600 ,1.4000 ,2.0400 ,0.5300 ,1.1700 ,1.8100 ,2.4500 ,0.3000 ,0.9400 ,1.5800 ,2.2200 ,0.0700 ,0.7100 ,1.3500 ,1.9900 ,0.4800 ,1.1200 ,1.7600 ,2.4000 ,0.2500 ,0.8900 ,1.5300 ,2.1700 ,0.0200 ,0.6600 ,1.3000 ,1.9400 ,0.4300 ,1.0700 ,1.7100 ,2.3500 ,0.2000 ,0.8400 ,1.4800 ,2.1200 ,0.6100 ,1.2500 ,1.8900 ,2.5300 ,0.3800 ,1.0200 ,1.6600 ,2.3000 ,0.1500 ,0.7900 ,1.4300 ,2.0700 ,0.5600 ,1.2000 ,1.8400 ,2.4800 ,0.3300 ,0.9700 ,1.6100 ,2.2500 ,0.1000 ,0.7400 ,1.3800 ,2.0200 ,0.5100 ,1.1500 ,1.7900 ,2.4300 ,0.2800 ,0.9200 ,1.5600 ,2.2000 ,0.0500 ,0.6900 ,1.3300 ,1.9700 ,0.4600 ,1.1000 ,1.7400 ,0.2300 ,0.8700 ,1.5100 ,2.1500 ),
      TransferTime_Sec            DECIMAL(18,4) COMPRESS (0.0000 ,0.6400 ,1.2800 ,1.9200 ,2.5600 ,0.4100 ,1.0500 ,1.6900 ,2.3300 ,0.1800 ,0.8200 ,1.4600 ,2.1000 ,0.5900 ,1.2300 ,1.8700 ,2.5100 ,0.3600 ,1.0000 ,1.6400 ,2.2800 ,0.1300 ,0.7700 ,1.4100 ,2.0500 ,2.6900 ,0.5400 ,1.1800 ,1.8200 ,2.4600 ,0.3100 ,0.9500 ,1.5900 ,2.2300 ,0.0800 ,0.7200 ,1.3600 ,2.0000 ,0.4900 ,1.1300 ,1.7700 ,2.4100 ,0.2600 ,0.9000 ,1.5400 ,2.1800 ,0.0300 ,0.6700 ,1.3100 ,1.9500 ,0.4400 ,1.0800 ,1.7200 ,2.3600 ,0.2100 ,0.8500 ,1.4900 ,2.1300 ,0.6200 ,1.2600 ,1.9000 ,0.3900 ,1.0300 ,1.6700 ,2.3100 ,0.1600 ,0.8000 ,1.4400 ,2.0800 ,0.5700 ,1.2100 ,1.8500 ,0.3400 ,0.9800 ,1.6200 ,2.2600 ,0.1100 ,0.7500 ,1.3900 ,2.0300 ,0.5200 ,1.1600 ,1.8000 ,0.2900 ,0.9300 ,1.5700 ,2.2100 ,0.0600 ,0.7000 ,1.3400 ,1.9800 ,0.4700 ,1.1100 ,1.7500 ,2.3900 ,0.2400 ,0.8800 ,1.5200 ,2.1600 ,0.0100 ,0.6500 ,1.2900 ,1.9300 ,0.4200 ,1.0600 ,1.7000 ,2.3400 ,0.1900 ,0.8300 ,1.4700 ,2.1100 ,0.6000 ,1.2400 ,1.8800 ,0.3700 ,1.0100 ,1.6500 ,2.2900 ,0.1400 ,0.7800 ,1.4200 ,2.0600 ,0.5500 ,1.1900 ,1.8300 ,2.4700 ,0.3200 ,0.9600 ,1.6000 ,2.2400 ,0.0900 ,0.7300 ,1.3700 ,2.0100 ,0.5000 ,1.1400 ,1.7800 ,2.4200 ,0.2700 ,0.9100 ,1.5500 ,2.1900 ,2.8300 ,0.0400 ,0.6800 ,1.3200 ,1.9600 ,0.4500 ,1.0900 ,1.7300 ,2.3700 ,0.2200 ,0.8600 ,1.5000 ,2.1400 ,2.7800 ,0.6300 ,1.2700 ,1.9100 ,2.5500 ,0.4000 ,1.0400 ,1.6800 ,2.3200 ,0.1700 ,0.8100 ,1.4500 ,2.0900 ,0.5800 ,1.2200 ,1.8600 ,2.5000 ,0.3500 ,0.9900 ,1.6300 ,2.2700 ,0.1200 ,0.7600 ,1.4000 ,2.0400 ,0.5300 ,1.1700 ,1.8100 ,2.4500 ,0.3000 ,0.9400 ,1.5800 ,2.2200 ,0.0700 ,0.7100 ,1.3500 ,1.9900 ,0.4800 ,1.1200 ,1.7600 ,2.4000 ,0.2500 ,0.8900 ,1.5300 ,2.1700 ,0.0200 ,0.6600 ,1.3000 ,1.9400 ,0.4300 ,1.0700 ,1.7100 ,2.3500 ,0.2000 ,0.8400 ,1.4800 ,2.1200 ,0.6100 ,1.2500 ,1.8900 ,0.3800 ,1.0200 ,1.6600 ,2.3000 ,0.1500 ,0.7900 ,1.4300 ,2.0700 ,0.5600 ,1.2000 ,1.8400 ,0.3300 ,0.9700 ,1.6100 ,2.2500 ,0.1000 ,0.7400 ,1.3800 ,2.0200 ,0.5100 ,1.1500 ,1.7900 ,2.4300 ,0.2800 ,0.9200 ,1.5600 ,2.2000 ,0.0500 ,0.6900 ,1.3300 ,1.9700 ,0.4600 ,1.1000 ,1.7400 ,2.3800 ,0.2300 ,0.8700 ,1.5100 ,2.1500 ),
         
      CPU_Parse_Sec               DECIMAL(18,4) COMPRESS (0.0000 ,0.6400 ,1.2800 ,1.9200 ,0.4100 ,1.0500 ,1.6900 ,2.3300 ,0.1800 ,0.8200 ,1.4600 ,2.1000 ,0.5900 ,1.2300 ,1.8700 ,2.5100 ,0.3600 ,1.0000 ,1.6400 ,2.2800 ,0.1300 ,0.7700 ,1.4100 ,2.0500 ,0.5400 ,1.1800 ,1.8200 ,2.4600 ,0.3100 ,0.9500 ,1.5900 ,2.2300 ,0.0800 ,0.7200 ,1.3600 ,2.0000 ,2.6400 ,0.4900 ,1.1300 ,1.7700 ,2.4100 ,0.2600 ,0.9000 ,1.5400 ,2.1800 ,0.0300 ,0.6700 ,1.3100 ,1.9500 ,0.4400 ,1.0800 ,1.7200 ,2.3600 ,0.2100 ,0.8500 ,1.4900 ,2.1300 ,0.6200 ,1.2600 ,1.9000 ,0.3900 ,1.0300 ,1.6700 ,2.3100 ,0.1600 ,0.8000 ,1.4400 ,2.0800 ,0.5700 ,1.2100 ,1.8500 ,2.4900 ,0.3400 ,0.9800 ,1.6200 ,2.2600 ,0.1100 ,0.7500 ,1.3900 ,2.0300 ,0.5200 ,1.1600 ,1.8000 ,2.4400 ,0.2900 ,0.9300 ,1.5700 ,2.2100 ,0.0600 ,0.7000 ,1.3400 ,1.9800 ,0.4700 ,1.1100 ,1.7500 ,2.3900 ,0.2400 ,0.8800 ,1.5200 ,2.1600 ,0.0100 ,0.6500 ,1.2900 ,1.9300 ,0.4200 ,1.0600 ,1.7000 ,2.3400 ,0.1900 ,0.8300 ,1.4700 ,2.1100 ,0.6000 ,1.2400 ,1.8800 ,2.5200 ,0.3700 ,1.0100 ,1.6500 ,2.2900 ,0.1400 ,0.7800 ,1.4200 ,2.0600 ,0.5500 ,1.1900 ,1.8300 ,0.3200 ,0.9600 ,1.6000 ,2.2400 ,0.0900 ,0.7300 ,1.3700 ,2.0100 ,0.5000 ,1.1400 ,1.7800 ,2.4200 ,0.2700 ,0.9100 ,1.5500 ,2.1900 ,0.0400 ,0.6800 ,1.3200 ,1.9600 ,0.4500 ,1.0900 ,1.7300 ,2.3700 ,0.2200 ,0.8600 ,1.5000 ,2.1400 ,0.6300 ,1.2700 ,1.9100 ,0.4000 ,1.0400 ,1.6800 ,2.3200 ,0.1700 ,0.8100 ,1.4500 ,2.0900 ,0.5800 ,1.2200 ,1.8600 ,2.5000 ,0.3500 ,0.9900 ,1.6300 ,2.2700 ,0.1200 ,0.7600 ,1.4000 ,2.0400 ,0.5300 ,1.1700 ,1.8100 ,2.4500 ,0.3000 ,0.9400 ,1.5800 ,2.2200 ,0.0700 ,0.7100 ,1.3500 ,1.9900 ,0.4800 ,1.1200 ,1.7600 ,2.4000 ,0.2500 ,0.8900 ,1.5300 ,2.1700 ,0.0200 ,0.6600 ,1.3000 ,1.9400 ,0.4300 ,1.0700 ,1.7100 ,2.3500 ,0.2000 ,0.8400 ,1.4800 ,2.1200 ,0.6100 ,1.2500 ,1.8900 ,2.5300 ,0.3800 ,1.0200 ,1.6600 ,2.3000 ,0.1500 ,0.7900 ,1.4300 ,2.0700 ,0.5600 ,1.2000 ,1.8400 ,2.4800 ,0.3300 ,0.9700 ,1.6100 ,2.2500 ,0.1000 ,0.7400 ,1.3800 ,2.0200 ,0.5100 ,1.1500 ,1.7900 ,2.4300 ,0.2800 ,0.9200 ,1.5600 ,2.2000 ,0.0500 ,0.6900 ,1.3300 ,1.9700 ,0.4600 ,1.1000 ,1.7400 ,2.3800 ,0.2300 ,0.8700 ,1.5100 ,2.1500 ),
      CPU_AMP_Sec                 DECIMAL(18,4) COMPRESS (0.0000 ,0.6400 ,1.2800 ,1.9200 ,2.5600 ,0.4100 ,1.0500 ,1.6900 ,2.3300 ,0.1800 ,0.8200 ,1.4600 ,2.1000 ,2.7400 ,0.5900 ,1.2300 ,1.8700 ,0.3600 ,1.0000 ,1.6400 ,2.2800 ,0.1300 ,0.7700 ,1.4100 ,2.0500 ,0.5400 ,1.1800 ,1.8200 ,2.4600 ,0.3100 ,0.9500 ,1.5900 ,2.2300 ,0.0800 ,0.7200 ,1.3600 ,2.0000 ,2.6400 ,0.4900 ,1.1300 ,2.4100 ,0.2600 ,0.9000 ,1.5400 ,2.1800 ,2.8200 ,0.0300 ,0.6700 ,1.3100 ,1.9500 ,0.4400 ,1.0800 ,1.7200 ,2.3600 ,0.2100 ,0.8500 ,1.4900 ,2.1300 ,2.7700 ,0.6200 ,1.2600 ,1.9000 ,2.5400 ,0.3900 ,1.0300 ,1.6700 ,2.3100 ,0.1600 ,0.8000 ,1.4400 ,2.7200 ,0.5700 ,1.2100 ,1.8500 ,0.3400 ,0.9800 ,1.6200 ,2.2600 ,0.1100 ,0.7500 ,1.3900 ,2.0300 ,0.5200 ,1.1600 ,1.8000 ,2.4400 ,0.2900 ,0.9300 ,1.5700 ,0.0600 ,0.7000 ,1.3400 ,1.9800 ,0.4700 ,1.1100 ,1.7500 ,0.2400 ,0.8800 ,1.5200 ,2.1600 ,0.0100 ,0.6500 ,1.2900 ,1.9300 ,0.4200 ,1.0600 ,1.7000 ,2.3400 ,0.1900 ,0.8300 ,1.4700 ,2.1100 ,0.6000 ,1.2400 ,1.8800 ,2.5200 ,0.3700 ,1.0100 ,1.6500 ,2.2900 ,0.1400 ,0.7800 ,1.4200 ,2.0600 ,2.7000 ,0.5500 ,1.1900 ,1.8300 ,0.3200 ,0.9600 ,1.6000 ,2.2400 ,0.0900 ,0.7300 ,1.3700 ,0.5000 ,1.1400 ,1.7800 ,2.4200 ,0.2700 ,0.9100 ,1.5500 ,2.1900 ,0.0400 ,0.6800 ,1.3200 ,1.9600 ,0.4500 ,1.0900 ,1.7300 ,2.3700 ,0.2200 ,0.8600 ,1.5000 ,2.1400 ,2.7800 ,0.6300 ,1.2700 ,1.9100 ,0.4000 ,1.0400 ,1.6800 ,2.3200 ,0.1700 ,0.8100 ,1.4500 ,2.7300 ,0.5800 ,1.2200 ,1.8600 ,2.5000 ,0.3500 ,0.9900 ,1.6300 ,2.2700 ,0.1200 ,0.7600 ,1.4000 ,2.0400 ,0.5300 ,1.1700 ,1.8100 ,2.4500 ,0.3000 ,0.9400 ,1.5800 ,2.2200 ,2.8600 ,0.0700 ,0.7100 ,1.3500 ,1.9900 ,2.6300 ,0.4800 ,1.1200 ,1.7600 ,2.4000 ,0.2500 ,0.8900 ,1.5300 ,2.1700 ,0.0200 ,0.6600 ,1.3000 ,1.9400 ,0.4300 ,1.0700 ,1.7100 ,2.3500 ,0.2000 ,0.8400 ,1.4800 ,2.1200 ,2.7600 ,0.6100 ,1.2500 ,0.3800 ,1.0200 ,1.6600 ,2.3000 ,0.1500 ,0.7900 ,1.4300 ,0.5600 ,1.2000 ,1.8400 ,2.4800 ,0.3300 ,0.9700 ,1.6100 ,0.1000 ,0.7400 ,1.3800 ,2.0200 ,2.6600 ,0.5100 ,1.1500 ,1.7900 ,2.4300 ,0.2800 ,0.9200 ,1.5600 ,2.2000 ,0.0500 ,0.6900 ,1.3300 ,0.4600 ,1.1000 ,1.7400 ,2.3800 ,0.2300 ,0.8700 ,1.5100 ,2.1500 ),
      CPU_Total_Sec               DECIMAL(18,4),    
         
      IOCntM_Physical             INTEGER COMPRESS (0 ,1 ),
      IOCntM_Total                INTEGER COMPRESS (0 ,1 ,2 ,3 ,4 ,6 ),
      IOGB_Physical               DECIMAL(18,4) COMPRESS (0.0000 ,256.0000 ,112.0000 ,80.0000 ,192.0000 ,48.0000 ,160.0000 ,16.0000 ,128.0000 ,96.0000 ,208.0000 ,64.0000 ,176.0000 ,32.0000 ,144.0000 ,177.0000 ,33.0000 ,145.0000 ,1.0000 ,257.0000 ,113.0000 ,225.0000 ,81.0000 ,193.0000 ,49.0000 ,161.0000 ,17.0000 ,129.0000 ,241.0000 ,97.0000 ,209.0000 ,65.0000 ,66.0000 ,178.0000 ,34.0000 ,146.0000 ,2.0000 ,258.0000 ,114.0000 ,226.0000 ,82.0000 ,194.0000 ,50.0000 ,162.0000 ,18.0000 ,130.0000 ,242.0000 ,98.0000 ,243.0000 ,99.0000 ,211.0000 ,67.0000 ,179.0000 ,35.0000 ,147.0000 ,3.0000 ,259.0000 ,115.0000 ,83.0000 ,195.0000 ,51.0000 ,163.0000 ,19.0000 ,131.0000 ,164.0000 ,20.0000 ,132.0000 ,244.0000 ,100.0000 ,212.0000 ,68.0000 ,180.0000 ,36.0000 ,148.0000 ,4.0000 ,260.0000 ,116.0000 ,228.0000 ,84.0000 ,196.0000 ,52.0000 ,197.0000 ,53.0000 ,165.0000 ,21.0000 ,133.0000 ,101.0000 ,213.0000 ,69.0000 ,181.0000 ,37.0000 ,149.0000 ,5.0000 ,261.0000 ,117.0000 ,85.0000 ,118.0000 ,86.0000 ,198.0000 ,54.0000 ,166.0000 ,22.0000 ,134.0000 ,246.0000 ,102.0000 ,214.0000 ,70.0000 ,182.0000 ,38.0000 ,150.0000 ,6.0000 ,262.0000 ,151.0000 ,7.0000 ,119.0000 ,231.0000 ,87.0000 ,199.0000 ,55.0000 ,167.0000 ,23.0000 ,135.0000 ,247.0000 ,103.0000 ,71.0000 ,183.0000 ,39.0000 ,184.0000 ,40.0000 ,152.0000 ,8.0000 ,120.0000 ,232.0000 ,88.0000 ,200.0000 ,56.0000 ,168.0000 ,24.0000 ,136.0000 ,248.0000 ,104.0000 ,72.0000 ,105.0000 ,217.0000 ,73.0000 ,185.0000 ,41.0000 ,297.0000 ,153.0000 ,9.0000 ,121.0000 ,233.0000 ,89.0000 ,201.0000 ,57.0000 ,169.0000 ,25.0000 ,137.0000 ,249.0000 ,138.0000 ,250.0000 ,106.0000 ,218.0000 ,74.0000 ,186.0000 ,42.0000 ,298.0000 ,154.0000 ,10.0000 ,122.0000 ,234.0000 ,90.0000 ,202.0000 ,58.0000 ,170.0000 ,26.0000 ,59.0000 ,171.0000 ,27.0000 ,139.0000 ,107.0000 ,219.0000 ,75.0000 ,187.0000 ,43.0000 ,299.0000 ,155.0000 ,11.0000 ,267.0000 ,123.0000 ,235.0000 ,91.0000 ,203.0000 ,236.0000 ,92.0000 ,204.0000 ,60.0000 ,172.0000 ,28.0000 ,140.0000 ,252.0000 ,108.0000 ,220.0000 ,76.0000 ,188.0000 ,44.0000 ,156.0000 ,12.0000 ,268.0000 ,124.0000 ,125.0000 ,237.0000 ,93.0000 ,205.0000 ,61.0000 ,173.0000 ,29.0000 ,141.0000 ,109.0000 ,77.0000 ,189.0000 ,45.0000 ,157.0000 ,13.0000 ,46.0000 ,158.0000 ,14.0000 ,126.0000 ,238.0000 ,94.0000 ,206.0000 ,62.0000 ,174.0000 ,30.0000 ,142.0000 ,110.0000 ,222.0000 ,78.0000 ,190.0000 ,1855.0000 ,79.0000 ,191.0000 ,47.0000 ,159.0000 ,15.0000 ,127.0000 ,239.0000 ,95.0000 ,207.0000 ,63.0000 ,175.0000 ,31.0000 ,143.0000 ,111.0000 ),
      IOGB_Total                  DECIMAL(18,4) COMPRESS (0.0000 ,256.0000 ,112.0000 ,224.0000 ,80.0000 ,192.0000 ,48.0000 ,160.0000 ,16.0000 ,272.0000 ,128.0000 ,240.0000 ,96.0000 ,208.0000 ,64.0000 ,176.0000 ,32.0000 ,144.0000 ,177.0000 ,33.0000 ,145.0000 ,1.0000 ,113.0000 ,225.0000 ,81.0000 ,193.0000 ,49.0000 ,161.0000 ,17.0000 ,129.0000 ,241.0000 ,97.0000 ,209.0000 ,65.0000 ,210.0000 ,66.0000 ,178.0000 ,34.0000 ,146.0000 ,2.0000 ,114.0000 ,226.0000 ,82.0000 ,194.0000 ,50.0000 ,162.0000 ,18.0000 ,274.0000 ,130.0000 ,242.0000 ,98.0000 ,243.0000 ,99.0000 ,211.0000 ,67.0000 ,179.0000 ,35.0000 ,147.0000 ,3.0000 ,259.0000 ,115.0000 ,227.0000 ,83.0000 ,195.0000 ,51.0000 ,163.0000 ,19.0000 ,275.0000 ,131.0000 ,164.0000 ,20.0000 ,132.0000 ,244.0000 ,100.0000 ,212.0000 ,68.0000 ,180.0000 ,36.0000 ,148.0000 ,4.0000 ,116.0000 ,84.0000 ,196.0000 ,52.0000 ,308.0000 ,197.0000 ,53.0000 ,165.0000 ,21.0000 ,277.0000 ,133.0000 ,245.0000 ,101.0000 ,213.0000 ,69.0000 ,181.0000 ,37.0000 ,149.0000 ,5.0000 ,117.0000 ,229.0000 ,85.0000 ,118.0000 ,230.0000 ,86.0000 ,198.0000 ,54.0000 ,166.0000 ,22.0000 ,134.0000 ,102.0000 ,214.0000 ,70.0000 ,326.0000 ,182.0000 ,38.0000 ,150.0000 ,6.0000 ,151.0000 ,7.0000 ,119.0000 ,231.0000 ,87.0000 ,199.0000 ,55.0000 ,167.0000 ,23.0000 ,135.0000 ,103.0000 ,215.0000 ,71.0000 ,183.0000 ,39.0000 ,184.0000 ,40.0000 ,152.0000 ,8.0000 ,120.0000 ,232.0000 ,88.0000 ,200.0000 ,56.0000 ,168.0000 ,24.0000 ,136.0000 ,104.0000 ,216.0000 ,72.0000 ,105.0000 ,217.0000 ,73.0000 ,185.0000 ,41.0000 ,153.0000 ,9.0000 ,121.0000 ,233.0000 ,89.0000 ,201.0000 ,57.0000 ,169.0000 ,25.0000 ,137.0000 ,138.0000 ,106.0000 ,218.0000 ,74.0000 ,186.0000 ,42.0000 ,154.0000 ,10.0000 ,122.0000 ,234.0000 ,90.0000 ,202.0000 ,58.0000 ,170.0000 ,26.0000 ,59.0000 ,315.0000 ,171.0000 ,27.0000 ,139.0000 ,251.0000 ,107.0000 ,219.0000 ,75.0000 ,187.0000 ,43.0000 ,155.0000 ,11.0000 ,123.0000 ,235.0000 ,91.0000 ,203.0000 ,236.0000 ,92.0000 ,204.0000 ,60.0000 ,172.0000 ,28.0000 ,140.0000 ,108.0000 ,220.0000 ,76.0000 ,188.0000 ,44.0000 ,156.0000 ,12.0000 ,124.0000 ,125.0000 ,93.0000 ,205.0000 ,61.0000 ,173.0000 ,29.0000 ,141.0000 ,109.0000 ,221.0000 ,77.0000 ,189.0000 ,45.0000 ,157.0000 ,13.0000 ,46.0000 ,158.0000 ,14.0000 ,126.0000 ,238.0000 ,94.0000 ,206.0000 ,62.0000 ,174.0000 ,30.0000 ,142.0000 ,254.0000 ,110.0000 ,222.0000 ,78.0000 ,190.0000 ,223.0000 ,79.0000 ,191.0000 ,47.0000 ,159.0000 ,15.0000 ,127.0000 ,95.0000 ,207.0000 ,63.0000 ,175.0000 ,31.0000 ,143.0000 ,111.0000 ),
      IOTA_Used_cntB              DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ,0.0002 ,0.0003 ,0.0004 ,0.0005 ,0.0006 ,0.0007 ,0.0008 ,0.0009 ,0.0010 ,0.0011 ,0.0012 ,0.0013 ,0.0014 ,0.0015 ,0.0016 ,0.0017 ,0.0018 ,0.0019 ,0.0020 ,0.0021 ,0.0022 ,0.0023 ,0.0024 ,0.0025 ,0.0026 ,0.0027 ,0.0028 ,0.0029 ,0.0030 ,0.0031 ,0.0032 ,0.0033 ,0.0034 ,0.0035 ,0.0036 ,0.0037 ,0.0038 ,0.0039 ,0.0040 ,0.0041 ,0.0042 ,0.0043 ,0.0044 ,0.0045 ,0.0046 ,0.0047 ,0.0048 ,0.0049 ,0.0050 ,0.0051 ,0.0052 ,0.0053 ,0.0054 ,0.0055 ,0.0056 ,0.0057 ,0.0058 ,0.0059 ,0.0060 ,0.0061 ,0.0062 ,0.0063 ,0.0064 ,0.0065 ,0.0066 ,0.0067 ,0.0068 ,0.0069 ,0.0070 ,0.0071 ,0.0072 ,0.0073 ,0.0074 ,0.0075 ,0.0076 ,0.0077 ,0.0078 ,0.0079 ,0.0080 ,0.0081 ,0.0082 ,0.0083 ,0.0084 ,0.0085 ,0.0086 ,0.0087 ,0.0088 ,0.0089 ,0.0090 ,0.0091 ,0.0092 ,0.0093 ,0.0094 ,0.0095 ,0.0096 ,0.0097 ,0.0098 ,0.0099 ,0.0100 ,0.0101 ,0.0102 ,0.0103 ,0.0104 ,0.0105 ,0.0106 ,0.0107 ,0.0108 ,0.0109 ,0.0110 ,0.0111 ,0.0112 ,0.0113 ,0.0114 ,0.0115 ,0.0116 ,0.0117 ,0.0118 ,0.0119 ,0.0120 ,0.0121 ,0.0124 ,0.0128 ,0.0141 ,0.0165 ),
      IOTA_SysMax_cntB            DECIMAL(18,4),
         
      NumOfActiveAMPs_Avg         DECIMAL(9,4) COMPRESS (0.0000 ,2928.0000 ,1920.0000 ,144.0000 ,504.1667 ,1008.3333 ,1.0000 ,2.0000 ,3.0000 ,756.0000 ,1512.0000 ,504.0000 ,1.5000 ,756.5000 ),
      Spool_GB                    DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ,0.0002 ,0.0003 ,0.0004 ,0.0005 ,0.0006 ,0.0007 ,0.0008 ,0.0009 ,0.0010 ,0.0011 ,0.0062 ,0.0124 ),
      Spool_GB_Avg                DECIMAL(18,4) COMPRESS (0.0000 ,0.0062 ),
      CacheHit_Pct                DECIMAL(9,4),  
      CPUSec_Skew_AvgPCt          DECIMAL(9,4) COMPRESS (0.0000 ,-0.9984 ,-0.9728 ,-0.9983 ,-0.9727 ,-0.9471 ,-0.9982 ,-0.9726 ,-0.9981 ,-0.9213 ,-0.9980 ,-0.9724 ,-0.9979 ,-0.9723 ,-0.9978 ,-0.9722 ,-0.9977 ,-0.9721 ,-0.9976 ,-0.9720 ,-0.9975 ,-0.9719 ,-0.9974 ,-0.9718 ,-0.9206 ,-0.9973 ,-0.9717 ,-0.9972 ,-0.9716 ,-0.9971 ,-0.9715 ,-0.9203 ,-0.9970 ,-0.9714 ,-0.9969 ,-0.9713 ,-0.9201 ,-0.9968 ,-0.9712 ,-0.9967 ,-0.9711 ,-0.9966 ,-0.9710 ,-0.9965 ,-0.9709 ,-0.9964 ,-0.9708 ,-0.9196 ,-0.9963 ,-0.9707 ,-0.9962 ,-0.9706 ,-0.9961 ,-0.9705 ,-0.9193 ,-0.9960 ,-0.9704 ,-0.9959 ,-0.9703 ,-0.9958 ,-0.9702 ,-0.9190 ,-0.9957 ,-0.9701 ,-0.9956 ,-0.9444 ,-0.9955 ,-0.9699 ,-0.9187 ,-0.9954 ,-0.9698 ,-0.9953 ,-0.9697 ,-0.9185 ,-0.9952 ,-0.9696 ,-0.9951 ,-0.9183 ,-0.9950 ,-0.9694 ,-0.9182 ,-0.9949 ,-0.9693 ,-0.9948 ,-0.9692 ,-0.9180 ,-0.9947 ,-0.9691 ,-0.9179 ,-0.9946 ,-0.9690 ,-0.9945 ,-0.9689 ,-0.9177 ,-0.9944 ,-0.9688 ,-0.9943 ,-0.9175 ,-0.9942 ,-0.9686 ,-0.9941 ,-0.9685 ,-0.9173 ,-0.9940 ,-0.9684 ,-0.9172 ,-0.9939 ,-0.9683 ,-0.9938 ,-0.9937 ,-0.9681 ,-0.9936 ,-0.9935 ,-0.9679 ,-0.9167 ,-0.9934 ,-0.9678 ,-0.9933 ,-0.9932 ,-0.9676 ,-0.9931 ,-0.9163 ,-0.9930 ,-0.9674 ,-0.9929 ,-0.9673 ,-0.5833 ,-0.9928 ,-0.9672 ,-0.9160 ,-0.9927 ,-0.9926 ,-0.9158 ,-0.9925 ,-0.9669 ,-0.9157 ,-0.9924 ,-0.9156 ,-0.2500 ,-0.9923 ,-0.9922 ,-0.9666 ,-0.9921 ,-0.9153 ,-0.9664 ,-0.9152 ,-0.9663 ,-0.9918 ,-0.9150 ,-0.9917 ,-0.9148 ,-0.9659 ,-0.9147 ,-0.9914 ,-0.9146 ,-0.9145 ,-0.9656 ,-0.9144 ,-0.9911 ,-0.9142 ,-0.9653 ,-0.9140 ,-0.5556 ,-0.9907 ,-0.9651 ,-0.9139 ,-0.9649 ,-0.9137 ,-0.9646 ,-0.9134 ,-0.2222 ,-0.9901 ,-0.9132 ,-0.9643 ,-0.9130 ,-0.9129 ,-0.9640 ,-0.9127 ,-0.9894 ,-0.9888 ,-0.9120 ,-0.4000 ,-0.9630 ,-0.9114 ,-0.9110 ,-0.9107 ,-0.9874 ,-0.9616 ,-0.9104 ,-0.9868 ,-0.5000 ,-0.9094 ,-0.9861 ,-0.1667 ,-0.9087 ,-0.9077 ,-0.9074 ,-0.9072 ,-0.6000 ,-0.9067 ,-0.6250 ,-0.9061 ,-0.4444 ,-0.9051 ,-0.9048 ,-0.9044 ,-0.7500 ,-0.9802 ,-0.9021 ,-0.9788 ,-0.9524 ,-0.9775 ,-0.9769 ,-0.9768 ,-0.9767 ,-0.9766 ,-0.9765 ,-0.9764 ,-0.9763 ,-0.9762 ,-0.9761 ,-0.9760 ,-0.9759 ,-0.9755 ,-0.9754 ,-0.9752 ,-0.9749 ,-0.9491 ,-0.9745 ,-0.9742 ,-0.9740 ,-0.9484 ,-0.9739 ,-0.6667 ,-0.9738 ,-0.9993 ,-0.9737 ,-0.9991 ,-0.9735 ,-0.9990 ,-0.9734 ,-0.9478 ,-0.9989 ,-0.9733 ,-0.3333 ,-0.9988 ,-0.9732 ,-0.9220 ,-0.9987 ,-0.9731 ,-0.9730 ,-0.9474 ,-0.9985 ,-0.9729 ),
      IOCnt_Skew_AvgPct           DECIMAL(9,4) COMPRESS (0.0000 ,-0.9984 ,-0.5000 ,-0.1667 ,-0.0833 ,-0.9995 ,-0.9993 ,-0.9992 ,-0.9991 ,-0.9990 ,-0.3333 ,-0.9987 ,-0.9986 ,-0.9985 ),

      qrycnt_in_runtime_0000_0001 BIGINT COMPRESS (0 ,256 ,1 ,2 ,258 ,3 ,4 ,5 ,6 ,262 ,7 ,519 ,8 ,264 ,9 ,10 ,11 ,12 ,13 ,525 ,14 ,270 ,15 ,16 ,272 ,17 ,18 ,19 ,20 ,21 ,22 ,23 ,24 ,25 ,26 ,27 ,28 ,540 ,29 ,30 ,31 ,32 ,288 ,33 ,34 ,35 ,36 ,292 ,37 ,38 ,294 ,39 ,40 ,41 ,42 ,43 ,299 ,44 ,45 ,46 ,47 ,48 ,49 ,50 ,51 ,52 ,53 ,54 ,55 ,56 ,57 ,313 ,58 ,59 ,60 ,61 ,62 ,63 ,64 ,576 ,65 ,66 ,67 ,68 ,69 ,70 ,71 ,72 ,73 ,74 ,75 ,76 ,77 ,78 ,79 ,80 ,336 ,81 ,82 ,83 ,84 ,340 ,85 ,86 ,87 ,88 ,600 ,89 ,345 ,90 ,91 ,92 ,93 ,349 ,94 ,95 ,96 ,97 ,98 ,99 ,100 ,101 ,102 ,103 ,104 ,360 ,105 ,106 ,107 ,108 ,109 ,110 ,111 ,112 ,368 ,113 ,369 ,114 ,115 ,116 ,117 ,118 ,119 ,120 ,121 ,122 ,123 ,124 ,125 ,126 ,127 ,128 ,129 ,130 ,131 ,132 ,133 ,134 ,135 ,136 ,137 ,138 ,139 ,140 ,141 ,142 ,143 ,144 ,145 ,146 ,147 ,148 ,149 ,150 ,151 ,152 ,153 ,154 ,155 ,156 ,157 ,158 ,159 ,160 ,416 ,161 ,162 ,163 ,164 ,165 ,166 ,167 ,168 ,169 ,170 ,171 ,172 ,173 ,174 ,175 ,176 ,432 ,177 ,178 ,179 ,180 ,181 ,182 ,183 ,184 ,185 ,186 ,187 ,188 ,189 ,190 ,191 ,1215 ,192 ,193 ,194 ,196 ,197 ,198 ,200 ,202 ,204 ,206 ,207 ,208 ,209 ,210 ,211 ,212 ,214 ,215 ,216 ,217 ,218 ,219 ,220 ,222 ,224 ,226 ,228 ,232 ,239 ,240 ,241 ,246 ,248 ,504 ,252 ,255 ),
      qrycnt_in_runtime_0001_0005 BIGINT COMPRESS (0 ,1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,11 ,12 ,13 ,14 ,15 ,16 ,17 ,18 ,19 ,20 ,21 ,22 ,23 ,24 ,25 ,26 ,27 ,28 ,29 ,30 ,31 ,32 ,33 ,34 ,35 ,36 ,37 ,38 ,39 ,40 ,41 ,42 ,43 ,44 ,45 ,46 ,47 ,48 ,49 ,50 ,51 ,52 ,53 ,54 ,55 ,56 ,57 ,58 ,59 ,60 ,61 ,62 ,63 ,64 ,65 ,66 ,67 ,68 ,69 ,70 ,71 ,72 ,73 ,74 ,75 ,76 ,77 ,78 ,79 ,80 ,81 ,82 ,83 ,84 ,85 ,86 ,87 ,88 ,89 ,90 ,91 ,92 ,93 ,94 ,95 ,96 ,97 ,98 ,99 ,100 ,101 ,102 ,103 ,104 ,105 ,106 ,107 ,108 ,109 ,110 ,111 ,112 ,113 ,114 ,115 ,116 ,117 ,118 ,119 ,120 ,122 ,124 ,126 ,128 ,176 ),
      qrycnt_in_runtime_0005_0010 BIGINT COMPRESS (0 ,1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,11 ,12 ,13 ,14 ,15 ,16 ,17 ,18 ,19 ,20 ,21 ,22 ,23 ,24 ,25 ,26 ,27 ,28 ,30 ),
      qrycnt_in_runtime_0010_0030 BIGINT COMPRESS (0 ,1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,10 ,11 ,12 ,13 ),
      qrycnt_in_runtime_0030_0060 BIGINT COMPRESS (0 ,1 ,2 ,3 ,4 ,5 ),
      qrycnt_in_runtime_0060_0300 BIGINT COMPRESS (0 ,1 ,2 ,3 ,4 ,5 ),
      qrycnt_in_runtime_0300_0600 BIGINT COMPRESS (0 ,1 ),
      qrycnt_in_runtime_0600_1800 BIGINT COMPRESS (0 ,1 ),
      qrycnt_in_runtime_1800_3600 BIGINT COMPRESS (0 ,1 ),
      qrycnt_in_runtime_3600_plus BIGINT COMPRESS (0 ,1 ),
      cpusec_in_runtime_0000_0001 DECIMAL(18,4) COMPRESS (0.0000 ,0.1280 ,0.2560 ,0.3840 ,0.5120 ,0.6400 ,0.7680 ,0.8960 ,0.0520 ,0.1800 ,0.3080 ,0.4360 ,0.5640 ,0.6920 ,0.8200 ,0.1040 ,0.2320 ,0.3600 ,0.4880 ,0.6160 ,0.7440 ,0.8720 ,0.0280 ,0.1560 ,0.2840 ,0.4120 ,0.5400 ,0.6680 ,0.7960 ,0.9240 ,1.0520 ,0.0800 ,0.2080 ,0.3360 ,0.4640 ,0.5920 ,0.7200 ,0.8480 ,0.9760 ,0.0040 ,0.1320 ,0.2600 ,0.3880 ,0.5160 ,0.6440 ,0.7720 ,0.9000 ,1.0280 ,0.0560 ,0.1840 ,0.3120 ,0.4400 ,0.5680 ,0.6960 ,0.8240 ,0.9520 ,0.1080 ,0.2360 ,0.3640 ,0.4920 ,0.6200 ,0.7480 ,0.8760 ,0.0320 ,0.1600 ,0.2880 ,0.4160 ,0.5440 ,0.6720 ,0.8000 ,0.9280 ,0.0840 ,0.2120 ,0.3400 ,0.4680 ,0.5960 ,0.7240 ,0.8520 ,0.9800 ,1.1080 ,0.0080 ,0.1360 ,0.2640 ,0.3920 ,0.5200 ,0.6480 ,0.7760 ,0.9040 ,0.0600 ,0.1880 ,0.3160 ,0.4440 ,0.5720 ,0.7000 ,0.8280 ,0.9560 ,0.1120 ,0.2400 ,0.3680 ,0.4960 ,0.6240 ,0.7520 ,0.8800 ,1.0080 ,0.0360 ,0.1640 ,0.2920 ,0.4200 ,0.5480 ,0.6760 ,0.8040 ,0.9320 ,0.0880 ,0.2160 ,0.3440 ,0.4720 ,0.6000 ,0.7280 ,0.8560 ,0.9840 ,0.0120 ,0.1400 ,0.2680 ,0.3960 ,0.5240 ,0.6520 ,0.7800 ,0.9080 ,0.0640 ,0.1920 ,0.3200 ,0.4480 ,0.5760 ,0.7040 ,0.8320 ,0.1160 ,0.2440 ,0.3720 ,0.5000 ,0.6280 ,0.7560 ,0.8840 ,0.0400 ,0.1680 ,0.2960 ,0.4240 ,0.5520 ,0.6800 ,0.8080 ,0.9360 ,0.0920 ,0.2200 ,0.3480 ,0.4760 ,0.6040 ,0.7320 ,0.8600 ,0.0160 ,0.1440 ,0.2720 ,0.4000 ,0.5280 ,0.6560 ,0.7840 ,0.9120 ,0.0680 ,0.1960 ,0.3240 ,0.4520 ,0.5800 ,0.7080 ,0.8360 ,0.9640 ,0.1200 ,0.2480 ,0.3760 ,0.5040 ,0.6320 ,0.7600 ,0.8880 ,1.0160 ,0.0440 ,0.1720 ,0.3000 ,0.4280 ,0.5560 ,0.6840 ,0.8120 ,0.9400 ,0.0960 ,0.2240 ,0.3520 ,0.4800 ,0.6080 ,0.7360 ,0.8640 ,0.9920 ,0.0200 ,0.1480 ,0.2760 ,0.4040 ,0.5320 ,0.6600 ,0.7880 ,0.9160 ,1.0440 ,0.0720 ,0.2000 ,0.3280 ,0.4560 ,0.5840 ,0.7120 ,0.8400 ,0.9680 ,0.1240 ,0.2520 ,0.3800 ,0.5080 ,0.6360 ,0.7640 ,0.8920 ,1.0200 ,0.0480 ,0.1760 ,0.3040 ,0.4320 ,0.5600 ,0.6880 ,0.8160 ,0.9440 ,0.1000 ,0.2280 ,0.3560 ,0.4840 ,0.6120 ,0.7400 ,0.8680 ,0.0240 ,0.1520 ,0.2800 ,0.4080 ,0.5360 ,0.6640 ,0.7920 ,0.9200 ,1.0480 ,0.0760 ,0.2040 ,0.3320 ,0.4600 ,0.5880 ,0.7160 ,0.8440 ,0.9720 ),
      cpusec_in_runtime_0001_0005 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_runtime_0005_0010 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_runtime_0010_0030 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_runtime_0030_0060 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_runtime_0060_0300 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_runtime_0300_0600 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_runtime_0600_1800 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_runtime_1800_3600 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_runtime_3600_plus DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      iogb_in_runtime_0000_0001   DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ,0.0002 ,0.0003 ,0.0004 ,0.0005 ,0.0006 ,0.1030 ,0.0007 ,0.0008 ,0.0009 ,0.0010 ,0.0266 ,0.0011 ,0.0012 ,0.2060 ,0.0013 ,0.0014 ,0.0015 ,0.0016 ,0.0272 ,0.0017 ,0.0273 ,0.0018 ,0.0274 ,0.0019 ,0.0020 ,0.0021 ,0.0022 ,0.0023 ,0.0024 ,0.4120 ,0.0025 ,0.0026 ,0.0027 ,0.0028 ,0.0029 ,0.0030 ,0.0031 ,0.0032 ,0.0033 ,0.8225 ,0.0034 ,0.0035 ,0.0036 ,0.0292 ,0.0037 ,0.0038 ,0.0294 ,0.0039 ,0.0040 ,0.0041 ,0.0042 ,0.0043 ,0.0044 ,0.0045 ,0.0046 ,0.0047 ,0.0048 ,0.0049 ,0.0050 ,0.0051 ,0.0052 ,0.0053 ,0.0054 ,0.0055 ,0.0056 ,0.0057 ,0.0058 ,0.0059 ,0.0060 ,0.0061 ,0.0062 ,0.0063 ,0.0064 ,0.0065 ,0.0066 ,1.6450 ,0.0067 ,0.0068 ,0.0069 ,0.0070 ,1.3638 ,0.0071 ,0.0072 ,0.0073 ,0.0074 ,0.0075 ,0.0076 ,0.0077 ,0.0078 ,0.0079 ,0.0080 ,0.0081 ,0.0082 ,0.0083 ,0.0084 ,0.0085 ,0.0086 ,0.0087 ,0.0599 ,0.0088 ,0.0600 ,0.0089 ,0.0090 ,0.0091 ,0.0092 ,0.0093 ,0.0094 ,0.0095 ,0.0096 ,0.0097 ,0.0098 ,0.0099 ,2.4675 ,0.0100 ,0.0101 ,0.0102 ,0.0103 ,0.0104 ,0.0105 ,0.0106 ,0.0107 ,0.0108 ,0.0109 ,0.0110 ,0.0111 ,0.0112 ,0.0113 ,0.0114 ,0.0115 ,0.0116 ,0.0117 ,0.0118 ,0.0119 ,0.0120 ,0.0121 ,0.0122 ,0.0123 ,0.0124 ,0.0125 ,0.0126 ,0.0127 ,0.0128 ,0.0129 ,0.0130 ,0.0131 ,0.0132 ,0.0133 ,0.0134 ,0.0135 ,0.0136 ,0.0137 ,0.0138 ,0.0139 ,0.0140 ,0.0141 ,0.0142 ,0.0143 ,0.0144 ,0.0912 ,0.0145 ,0.0146 ,0.3986 ,0.0147 ,0.0148 ,0.0149 ,0.0150 ,0.0151 ,0.0152 ,0.0153 ,0.0154 ,2.4474 ,0.0155 ,0.0667 ,0.0156 ,0.0157 ,0.0158 ,0.0159 ,0.0160 ,0.0161 ,0.0162 ,0.0418 ,0.0163 ,0.0164 ,0.0165 ,0.0166 ,0.0167 ,0.0168 ,0.0169 ,0.0170 ,0.0171 ,0.0172 ,0.0684 ,0.0173 ,0.0174 ,0.0175 ,0.0176 ,0.0432 ,0.0177 ,0.0178 ,0.0179 ,0.0180 ,0.0181 ,0.0182 ,0.0183 ,0.0184 ,0.0185 ,0.0186 ,0.0187 ,0.0188 ,0.0189 ,0.0190 ,0.0191 ,0.0192 ,0.0193 ,0.0194 ,0.0195 ,0.0196 ,0.0197 ,0.0198 ,0.0200 ,0.0456 ,0.0201 ,0.0202 ,0.0203 ,0.0204 ,0.0205 ,0.0206 ,0.0207 ,0.0208 ,0.0209 ,0.0210 ,0.0211 ,0.0212 ,0.0213 ,0.0214 ,1.2246 ,0.0215 ,0.0218 ,0.0224 ,0.0226 ,0.0227 ,0.0228 ,0.0229 ,0.0230 ,0.0234 ,0.0235 ,0.0237 ,0.0238 ,0.0239 ,0.0240 ,0.3568 ,2.7640 ),
      iogb_in_runtime_0001_0005   DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ),
      iogb_in_runtime_0005_0010   DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ),
      iogb_in_runtime_0010_0030   DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ),
      iogb_in_runtime_0030_0060   DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ),
      iogb_in_runtime_0060_0300   DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ),
      iogb_in_runtime_0300_0600   DECIMAL(18,4) COMPRESS 0.0000 ,
      iogb_in_runtime_0600_1800   DECIMAL(18,4) COMPRESS 0.0000 ,
      iogb_in_runtime_1800_3600   DECIMAL(18,4) COMPRESS 0.0000 ,
      iogb_in_runtime_3600_plus   DECIMAL(18,4) COMPRESS 0.0000 ,
      qrycnt_in_delaytime_0000_0001 BIGINT COMPRESS (0 ,256 ,1 ,2 ,258 ,3 ,4 ,516 ,5 ,6 ,7 ,519 ,8 ,264 ,9 ,10 ,11 ,12 ,13 ,14 ,270 ,15 ,16 ,272 ,17 ,18 ,19 ,20 ,21 ,22 ,23 ,24 ,25 ,26 ,27 ,28 ,540 ,29 ,30 ,31 ,32 ,288 ,33 ,34 ,35 ,36 ,292 ,37 ,38 ,294 ,39 ,40 ,41 ,42 ,43 ,299 ,44 ,45 ,46 ,47 ,48 ,49 ,50 ,51 ,52 ,53 ,54 ,55 ,56 ,57 ,313 ,58 ,59 ,60 ,61 ,62 ,63 ,64 ,576 ,832 ,65 ,66 ,67 ,68 ,69 ,70 ,71 ,72 ,73 ,74 ,75 ,76 ,77 ,78 ,846 ,79 ,80 ,336 ,81 ,82 ,83 ,84 ,340 ,85 ,86 ,598 ,87 ,88 ,344 ,600 ,89 ,345 ,90 ,91 ,92 ,348 ,93 ,349 ,94 ,95 ,96 ,97 ,98 ,99 ,100 ,101 ,102 ,103 ,104 ,360 ,105 ,106 ,107 ,108 ,109 ,110 ,111 ,112 ,368 ,113 ,114 ,370 ,115 ,116 ,117 ,118 ,374 ,119 ,120 ,121 ,122 ,123 ,124 ,125 ,126 ,127 ,128 ,384 ,129 ,130 ,131 ,643 ,132 ,133 ,134 ,135 ,136 ,137 ,138 ,139 ,140 ,141 ,142 ,143 ,144 ,145 ,146 ,147 ,148 ,404 ,149 ,150 ,151 ,152 ,153 ,154 ,155 ,667 ,156 ,157 ,158 ,159 ,160 ,416 ,161 ,162 ,163 ,164 ,420 ,165 ,166 ,167 ,168 ,169 ,170 ,171 ,172 ,428 ,173 ,174 ,175 ,176 ,432 ,177 ,178 ,179 ,180 ,181 ,182 ,183 ,184 ,185 ,186 ,187 ,188 ,189 ,190 ,191 ,1215 ,192 ,193 ,194 ,195 ,196 ,198 ,200 ,202 ,204 ,208 ,210 ,214 ,216 ,217 ,219 ,220 ,222 ,224 ,736 ,226 ,228 ,240 ,246 ,504 ,252 ),
      qrycnt_in_delaytime_0001_0005 BIGINT COMPRESS (0 ,1 ,2 ,3 ,4 ,5 ),
      qrycnt_in_delaytime_0005_0010 BIGINT COMPRESS (0 ,1 ),
      qrycnt_in_delaytime_0010_0030 BIGINT COMPRESS (0 ,1 ),
      qrycnt_in_delaytime_0030_0060 BIGINT COMPRESS (0 ,1 ),
      qrycnt_in_delaytime_0060_0300 BIGINT COMPRESS (0 ,1 ),
      qrycnt_in_delaytime_0300_0600 BIGINT COMPRESS (0 ,1 ),
      qrycnt_in_delaytime_0600_1800 BIGINT COMPRESS (0 ,1 ),
      qrycnt_in_delaytime_1800_3600 BIGINT COMPRESS 0 ,
      qrycnt_in_delaytime_3600_plus BIGINT COMPRESS 0 ,
      cpusec_in_delaytime_0000_0001 DECIMAL(18,4) COMPRESS (0.0000 ,0.1280 ,0.2560 ,0.3840 ,0.5120 ,0.6400 ,0.7680 ,0.8960 ,0.0520 ,0.1800 ,0.3080 ,0.4360 ,0.5640 ,0.6920 ,0.8200 ,0.9480 ,0.1040 ,0.2320 ,0.3600 ,0.4880 ,0.6160 ,0.7440 ,0.8720 ,0.0280 ,0.1560 ,0.2840 ,0.4120 ,0.5400 ,0.6680 ,0.7960 ,0.9240 ,1.0520 ,0.0800 ,0.2080 ,0.3360 ,0.4640 ,0.5920 ,0.7200 ,0.8480 ,0.9760 ,0.0040 ,0.1320 ,0.2600 ,0.3880 ,0.5160 ,0.6440 ,0.7720 ,0.9000 ,0.0560 ,0.1840 ,0.3120 ,0.4400 ,0.5680 ,0.6960 ,0.8240 ,0.9520 ,0.1080 ,0.2360 ,0.3640 ,0.4920 ,0.6200 ,0.7480 ,0.8760 ,0.0320 ,0.1600 ,0.2880 ,0.4160 ,0.5440 ,0.6720 ,0.8000 ,0.9280 ,0.0840 ,0.2120 ,0.3400 ,0.4680 ,0.5960 ,0.7240 ,0.8520 ,0.9800 ,1.1080 ,0.0080 ,0.1360 ,0.2640 ,0.3920 ,0.5200 ,0.6480 ,0.7760 ,0.9040 ,0.0600 ,0.1880 ,0.3160 ,0.4440 ,0.5720 ,0.7000 ,0.8280 ,0.9560 ,0.1120 ,0.2400 ,0.3680 ,0.4960 ,0.6240 ,0.7520 ,0.8800 ,0.0360 ,0.1640 ,0.2920 ,0.4200 ,0.5480 ,0.6760 ,0.8040 ,0.9320 ,1.0600 ,0.0880 ,0.2160 ,0.3440 ,0.4720 ,0.6000 ,0.7280 ,0.8560 ,0.9840 ,0.0120 ,0.1400 ,0.2680 ,0.3960 ,0.5240 ,0.6520 ,0.7800 ,0.9080 ,0.0640 ,0.1920 ,0.3200 ,0.4480 ,0.5760 ,0.7040 ,0.8320 ,0.1160 ,0.2440 ,0.3720 ,0.5000 ,0.6280 ,0.7560 ,0.8840 ,0.0400 ,0.1680 ,0.2960 ,0.4240 ,0.5520 ,0.6800 ,0.8080 ,0.9360 ,0.0920 ,0.2200 ,0.3480 ,0.4760 ,0.6040 ,0.7320 ,0.8600 ,0.0160 ,0.1440 ,0.2720 ,0.4000 ,0.5280 ,0.6560 ,0.7840 ,0.9120 ,0.0680 ,0.1960 ,0.3240 ,0.4520 ,0.5800 ,0.7080 ,0.8360 ,0.9640 ,0.1200 ,0.2480 ,0.3760 ,0.5040 ,0.6320 ,0.7600 ,0.8880 ,1.0160 ,0.0440 ,0.1720 ,0.3000 ,0.4280 ,0.5560 ,0.6840 ,0.8120 ,0.9400 ,0.0960 ,0.2240 ,0.3520 ,0.4800 ,0.6080 ,0.7360 ,0.8640 ,0.9920 ,0.0200 ,0.1480 ,0.2760 ,0.4040 ,0.5320 ,0.6600 ,0.7880 ,0.9160 ,1.0440 ,0.0720 ,0.2000 ,0.3280 ,0.4560 ,0.5840 ,0.7120 ,0.8400 ,0.9680 ,0.1240 ,0.2520 ,0.3800 ,0.5080 ,0.6360 ,0.7640 ,0.8920 ,1.0200 ,0.0480 ,0.1760 ,0.3040 ,0.4320 ,0.5600 ,0.6880 ,0.8160 ,0.9440 ,0.1000 ,0.2280 ,0.3560 ,0.4840 ,0.6120 ,0.7400 ,0.8680 ,0.0240 ,0.1520 ,0.2800 ,0.4080 ,0.5360 ,0.6640 ,0.7920 ,0.9200 ,1.0480 ,0.0760 ,0.2040 ,0.3320 ,0.4600 ,0.5880 ,0.7160 ,0.8440 ,0.9720 ),
      cpusec_in_delaytime_0001_0005 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_delaytime_0005_0010 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_delaytime_0010_0030 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_delaytime_0030_0060 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_delaytime_0060_0300 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_delaytime_0300_0600 DECIMAL(18,4) COMPRESS (0.0000 ,0.0040 ),
      cpusec_in_delaytime_0600_1800 DECIMAL(18,4) COMPRESS 0.0000 ,
      cpusec_in_delaytime_1800_3600 DECIMAL(18,4) COMPRESS 0.0000 ,
      cpusec_in_delaytime_3600_plus DECIMAL(18,4) COMPRESS 0.0000 ,
      iogb_in_delaytime_0000_0001   DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ,0.0002 ,0.0003 ,0.0004 ,0.0005 ,0.0006 ,0.0007 ,0.0008 ,0.0009 ,0.0010 ,0.0011 ,0.0012 ,0.1548 ,0.2060 ,0.0013 ,0.0014 ,0.0015 ,0.0016 ,0.0272 ,0.0017 ,0.0273 ,0.0018 ,0.0019 ,0.0020 ,0.0021 ,0.0277 ,0.0022 ,0.0023 ,0.0024 ,0.4120 ,0.0025 ,0.0026 ,0.0027 ,0.0028 ,0.0029 ,0.0030 ,0.0031 ,0.0032 ,0.0033 ,0.8225 ,0.0034 ,0.0035 ,0.0036 ,0.0292 ,0.0037 ,0.0038 ,0.0294 ,0.0039 ,0.0040 ,0.0041 ,0.0042 ,0.0043 ,0.0044 ,0.0045 ,0.0046 ,0.0047 ,0.0048 ,0.0049 ,0.0050 ,0.0051 ,0.0052 ,0.0053 ,0.0309 ,0.0054 ,0.0055 ,0.0056 ,0.0057 ,0.0058 ,0.0059 ,0.0060 ,0.0061 ,0.0062 ,0.0063 ,0.0064 ,0.0065 ,0.0066 ,1.6450 ,0.0067 ,0.0068 ,0.0069 ,0.0070 ,1.3638 ,0.0071 ,0.0072 ,0.0073 ,0.0074 ,0.0075 ,0.0076 ,0.0077 ,0.0078 ,0.0079 ,0.0080 ,0.0081 ,0.0082 ,0.0083 ,0.0084 ,0.0085 ,0.0086 ,0.0087 ,0.0599 ,0.0088 ,0.0600 ,0.0089 ,0.0090 ,0.0091 ,0.0092 ,0.0093 ,0.0094 ,0.0095 ,0.0096 ,0.0097 ,0.0098 ,0.0099 ,2.4675 ,0.0100 ,0.0101 ,0.0102 ,0.0103 ,0.0104 ,0.0105 ,0.0106 ,0.0107 ,0.0108 ,0.0109 ,0.0110 ,0.0111 ,0.0112 ,0.0113 ,0.0114 ,0.0115 ,0.0116 ,0.0117 ,0.0118 ,0.0119 ,0.0120 ,0.0121 ,0.0122 ,0.0123 ,0.0124 ,0.0125 ,0.0126 ,0.0127 ,0.0128 ,0.0129 ,0.0130 ,0.0131 ,0.0643 ,0.0132 ,0.0133 ,0.0134 ,0.0135 ,0.0136 ,0.0137 ,0.0138 ,0.0139 ,0.0140 ,0.0141 ,0.0142 ,0.0143 ,0.0144 ,0.0912 ,0.0145 ,0.0146 ,0.3986 ,0.0147 ,0.0148 ,0.0149 ,0.0150 ,0.0151 ,0.0152 ,0.0153 ,0.0154 ,2.4474 ,0.0155 ,0.0667 ,0.0156 ,0.0157 ,0.0158 ,0.0159 ,0.0160 ,0.0161 ,0.0162 ,0.0163 ,0.0164 ,0.0165 ,0.0166 ,0.0167 ,0.0168 ,0.0169 ,0.0170 ,0.0171 ,0.0172 ,0.0684 ,0.0173 ,0.0174 ,0.0175 ,0.0176 ,0.0432 ,0.0177 ,0.0178 ,0.0179 ,0.0180 ,0.0181 ,0.0182 ,0.0183 ,0.0184 ,0.0185 ,0.0186 ,0.0187 ,0.0188 ,0.0189 ,0.0190 ,0.0191 ,0.0192 ,0.0193 ,0.0194 ,0.0195 ,0.0196 ,0.0198 ,0.0199 ,0.0200 ,0.0456 ,0.0201 ,0.0202 ,0.0203 ,0.0204 ,0.0205 ,0.0206 ,0.0207 ,0.0208 ,0.0209 ,0.0210 ,0.0212 ,0.0213 ,0.0214 ,1.2246 ,0.0215 ,0.0216 ,0.0217 ,0.0218 ,0.0222 ,0.0224 ,0.0226 ,0.0227 ,0.0228 ,0.0229 ,0.0230 ,0.0234 ,0.0235 ,0.0238 ,0.0239 ,0.0240 ,0.3568 ),
      iogb_in_delaytime_0001_0005   DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ),
      iogb_in_delaytime_0005_0010   DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ),
      iogb_in_delaytime_0010_0030   DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ),
      iogb_in_delaytime_0030_0060   DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ),
      iogb_in_delaytime_0060_0300   DECIMAL(18,4) COMPRESS (0.0000 ,0.0001 ),
      iogb_in_delaytime_0300_0600   DECIMAL(18,4) COMPRESS 0.0000 ,
      iogb_in_delaytime_0600_1800   DECIMAL(18,4) COMPRESS 0.0000 ,
      iogb_in_delaytime_1800_3600   DECIMAL(18,4) COMPRESS 0.0000 ,
      iogb_in_delaytime_3600_plus   DECIMAL(18,4) COMPRESS 0.0000 ,
      Run_ID  INTEGER COMPRESS 0 )
PRIMARY INDEX ( Site_ID ,LogDate ,LogHour )
PARTITION BY (  COLUMN (Site_ID) ADD 10,
                RANGE_N(LogDate  BETWEEN DATE '2019-01-01' AND DATE '2021-12-31' EACH INTERVAL '1' DAY, NO RANGE OR UNKNOWN) );

Success: 0 rows affected

In [68]:
-- drop table adlste_coa.coat_dat_cpu

Success: 28 rows affected

In [69]:
CREATE MULTISET TABLE adlste_coa.coat_dat_CPU
(
  Site_ID               VARCHAR(64) CHARACTER SET LATIN NOT CASESPECIFIC
, LogDate               DATE FORMAT 'YYYY/MM/DD'
, LogHour               BYTEINT
, LogDateHour           TIMESTAMP(0)
, CPU_DBS_Sec           DECIMAL(18,2)
, CPU_OS_Sec            DECIMAL(18,2)
, CPU_IOWait_Sec        DECIMAL(18,2)
, CPU_Idle_Sec          DECIMAL(18,2)
, CPU_TOTAL_Actual_Sec  DECIMAL(18,2)
, CPU_TOTAL_Calc_Sec    DECIMAL(18,2)
) 
PRIMARY INDEX ( Site_ID ,LogDate ,LogHour ) 
PARTITION BY ( COLUMN (Site_ID) ADD 10,
               RANGE_N(LogDate BETWEEN DATE '2019-01-01' 
                                   AND DATE '2021-12-31' 
                                   EACH INTERVAL '1' DAY,
               NO RANGE OR UNKNOWN) );

Success: 0 rows affected

### TAL VIEW -- coa_dat_DBQL_Core & coa_dat_CPU

In [72]:
REPLACE VIEW adlste_coa.coa_dat_DBQL_Core 
AS LOCKING ROW FOR ACCESS 
SELECT 
  DBQL.Row_Key
 ,DBQL.Site_Id
 ,DBQL.Site_Id AS Site_Name
 ,DBQL.LogDate
 ,DBQL.LogHour
 ,DBQL.LogDateHour
 ,Node_Type    -- add
 ,Node_Cnt          -- add
 ,vCPU_per_Node     -- add
 ,DBQL.Total_AMPs
 
 ,DBQL.App_Bucket
 ,DBQL.Use_Bucket
 ,DBQL.Statement_Bucket 
 ,DBQL.User_Bucket
 ,'n/a' as Is_Discrete_Human -- remove
 ,DBQL.User_Department
 ,DBQL.User_SubDepartment
 ,'n/a' as User_Region   -- remove
 ,'n/a' as WDName        -- remove
 ,'n/a' as Query_Type    -- remove

 ,DBQL.Request_Cnt
 ,DBQL.Query_Cnt
 ,DBQL.Query_MultiStatement_Cnt   -- add
 ,DBQL.Query_Error_Cnt
 ,DBQL.Query_Abort_Cnt
 ,DBQL.Query_NoIO_cnt
 ,DBQL.Query_InMem_Cnt
 ,DBQL.Query_PhysIO_Cnt
 ,DBQL.Query_Complexity_Score_Avg
 ,DBQL.Returned_Row_Cnt
 
 ,DBQL.DelayTime_Sec
 ,DBQL.Runtime_Parse_Sec
 ,DBQL.Runtime_AMP_Sec
 ,DBQL.Runtime_Total_Sec
 ,DBQL.TransferTime_Sec
 
 ,DBQL.CPU_Parse_Sec
 ,DBQL.CPU_AMP_Sec
 ,Node_Cnt * vCPU_per_Node * 3600 as CPU_Total_Sec

 
 ,DBQL.IOCntM_Physical
 ,DBQL.IOCntM_Total
 ,DBQL.IOGB_Physical
 ,DBQL.IOGB_Total
 ,DBQL.IOTA_Used_cntB
 ,DBQL.IOTA_SysMax_cntB
 
 ,DBQL.NumOfActiveAMPs_Avg
 ,DBQL.Spool_GB
 ,DBQL.Spool_GB_Avg
 ,DBQL.CacheHit_Pct        -- add
 ,DBQL.CPUSec_Skew_AvgPCt
 ,DBQL.IOCnt_Skew_AvgPct
 ,0 as VeryHot_IOcnt_Cache_AvgPct   -- remove
 ,0 as VeryHot_IOGB_Cache_AvgPct    -- remove
 ,0 as CacheMiss_IOPSScore          -- remove
 ,0 as CacheMiss_KBScore            -- remove
 ,0 as MultiStatement_Count         -- remove
 ,0 as MultiStatement_Delete        -- remove
 ,0 as MultiStatement_Insert        -- remove
 ,0 as MultiStatement_InsertSel     -- remove
 ,0 as MultiStatement_Update        -- remove
 ,0 as MultiStatement_Select        -- remove
 ,DBQL.Qrycnt_In_Runtime_0000_0001
 ,DBQL.Qrycnt_In_Runtime_0001_0005
 ,DBQL.Qrycnt_In_Runtime_0005_0010
 ,DBQL.Qrycnt_In_Runtime_0010_0030
 ,DBQL.Qrycnt_In_Runtime_0030_0060
 ,DBQL.Qrycnt_In_Runtime_0060_0300
 ,DBQL.Qrycnt_In_Runtime_0300_0600
 ,DBQL.Qrycnt_In_Runtime_0600_1800
 ,DBQL.Qrycnt_In_Runtime_1800_3600
 ,DBQL.Qrycnt_In_Runtime_3600_plus
 ,DBQL.CPUsec_In_Runtime_0000_0001
 ,DBQL.CPUsec_In_Runtime_0001_0005
 ,DBQL.CPUsec_In_Runtime_0005_0010
 ,DBQL.CPUsec_In_Runtime_0010_0030
 ,DBQL.CPUsec_In_Runtime_0030_0060
 ,DBQL.CPUsec_In_Runtime_0060_0300
 ,DBQL.CPUsec_In_Runtime_0300_0600
 ,DBQL.CPUsec_In_Runtime_0600_1800
 ,DBQL.CPUsec_In_Runtime_1800_3600
 ,DBQL.CPUsec_In_Runtime_3600_plus
 ,DBQL.IOgb_In_Runtime_0000_0001
 ,DBQL.IOgb_In_Runtime_0001_0005
 ,DBQL.IOgb_In_Runtime_0005_0010
 ,DBQL.IOgb_In_Runtime_0010_0030
 ,DBQL.IOgb_In_Runtime_0030_0060
 ,DBQL.IOgb_In_Runtime_0060_0300
 ,DBQL.IOgb_In_Runtime_0300_0600
 ,DBQL.IOgb_In_Runtime_0600_1800
 ,DBQL.IOgb_In_Runtime_1800_3600
 ,DBQL.IOgb_In_Runtime_3600_plus
 ,DBQL.Qrycnt_In_Delaytime_0000_0001
 ,DBQL.Qrycnt_In_Delaytime_0001_0005
 ,DBQL.Qrycnt_In_Delaytime_0005_0010
 ,DBQL.Qrycnt_In_Delaytime_0010_0030
 ,DBQL.Qrycnt_In_Delaytime_0030_0060
 ,DBQL.Qrycnt_In_Delaytime_0060_0300
 ,DBQL.Qrycnt_In_Delaytime_0300_0600
 ,DBQL.Qrycnt_In_Delaytime_0600_1800
 ,DBQL.Qrycnt_In_Delaytime_1800_3600
 ,DBQL.Qrycnt_In_Delaytime_3600_plus
 ,DBQL.CPUsec_In_Delaytime_0000_0001
 ,DBQL.CPUsec_In_Delaytime_0001_0005
 ,DBQL.CPUsec_In_Delaytime_0005_0010
 ,DBQL.CPUsec_In_Delaytime_0010_0030
 ,DBQL.CPUsec_In_Delaytime_0030_0060
 ,DBQL.CPUsec_In_Delaytime_0060_0300
 ,DBQL.CPUsec_In_Delaytime_0300_0600
 ,DBQL.CPUsec_In_Delaytime_0600_1800
 ,DBQL.CPUsec_In_Delaytime_1800_3600
 ,DBQL.CPUsec_In_Delaytime_3600_plus
 ,DBQL.IOgb_In_Delaytime_0000_0001
 ,DBQL.IOgb_In_Delaytime_0001_0005
 ,DBQL.IOgb_In_Delaytime_0005_0010
 ,DBQL.IOgb_In_Delaytime_0010_0030
 ,DBQL.IOgb_In_Delaytime_0030_0060
 ,DBQL.IOgb_In_Delaytime_0060_0300
 ,DBQL.IOgb_In_Delaytime_0300_0600
 ,DBQL.IOgb_In_Delaytime_0600_1800
 ,DBQL.IOgb_In_Delaytime_1800_3600
 ,DBQL.IOgb_In_Delaytime_3600_plus
 ,DBQL.Run_Id 
 FROM adlste_coa.coat_dat_DBQL_Core DBQL;

Success: 126 rows affected

In [73]:
replace view adlste_coa.coa_dat_CPU as
locking row for access
Select * from adlste_coa.coat_dat_CPU;

Success: 11 rows affected

### STORED PROC -- sp_dat_DBQL_Core

In [85]:
REPLACE PROCEDURE adlste_coa.sp_dat_DBQL_Core ( fileset_version VARCHAR(128) )
SQL SECURITY Creator
BEGIN

    /* select out the SiteID from the stage table 
       allow for multiple SiteIDs, so need a cursor */

    -- adlste_coa_STG.stg_dat_DBQL_Core
    
  DECLARE runid  INTEGER;
  DECLARE parentrunid INTEGER;
  DECLARE siteid VARCHAR(128);
  DECLARE tablename VARCHAR(128);
  DECLARE callingsp VARCHAR(128); 
  DECLARE startdate DATE;
  DECLARE enddate DATE;
  DECLARE spversion BYTEINT;
  DECLARE SQL_ERROR_CODE INTEGER;
  DECLARE SQL_STATE VARCHAR(5);
  DECLARE ERROR_MESSAGE VARCHAR(256);
  
  DECLARE EXIT HANDLER FOR SqlException
  BEGIN
   
     SET SQL_ERROR_CODE = SqlCode;
     SET SQL_STATE = SqlState;
     
     GET DIAGNOSTICS EXCEPTION 1 ERROR_MESSAGE = Message_Text;
     
     CALL adlste_coa.sp_audit_log(:runid, :siteid, :tablename, :callingsp, :spversion, :startdate, :enddate, 'normal run', 'ERROR', :ERROR_MESSAGE );
     
  END;
  
  SET runid = 0;
  SET parentrunid = 0 ;
  SET tablename = 'adlste_coa.coat_dat_DBQL_core';
  SET callingsp = 'adlste_coa.sp_dat_DBQL_core';
  SET siteid = 'Empty Table';
  SET spversion = fileset_version;
    
  SELECT 
     max(Site_Id) as Site_ID
    ,Min(LogDate) AS StartDate
    ,Max(LogDate) AS EndDate
  INTO siteid, startdate, enddate
  FROM adlste_coa_stg.stg_dat_DBQL_core ;
   
  CALL adlste_coa.sp_audit_log(:runid, :siteid, :tablename, :callingsp, :spversion, :startdate, :enddate, 'normal run', 'START', '');
  SET parentrunid = runid;

  /* end setup audit process */
         
  DELETE FROM adlste_coa.coat_dat_DBQL_Core
  WHERE   (Site_ID, LogDate, LogHour) IN
   (SELECT Site_ID, LogDate, LogHour FROM adlste_coa_STG.stg_dat_DBQL_Core);

  SET runid = parentrunid;
  CALL adlste_coa.sp_audit_log(:runid, :siteid, :tablename, :callingsp, :spversion, :startdate, :enddate, 
                               'normal run', 'STEP', 'Removed existing records from coat_dat_DBQL_Core');


  INSERT INTO adlste_coa.coat_dat_DBQL_Core
  (Site_ID                     
  ,LogDate                     
  ,LogHour                     
  ,LogDateHour                 
  ,Node_Type                   
  ,Node_Cnt                    
  ,vCPU_per_Node               
  ,Total_AMPs                  
  ,App_Bucket                  
  ,Use_Bucket                  
  ,Statement_Bucket            
  ,User_Bucket                 
  ,User_Department             
  ,User_SubDepartment          
  ,Request_Cnt                 
  ,Query_Cnt                   
  ,Query_MultiStatement_Cnt      
  ,Query_Error_Cnt               
  ,Query_Abort_Cnt               
  ,Query_NoIO_cnt                
  ,Query_InMem_Cnt               
  ,Query_PhysIO_Cnt              
  ,Query_Tactical_Cnt            
  ,Query_Complexity_Score_Avg    
  ,Returned_Row_Cnt              
  ,DelayTime_Sec                 
  ,Runtime_Parse_Sec             
  ,Runtime_AMP_Sec               
  ,Runtime_Total_Sec             
  ,TransferTime_Sec              
  ,CPU_Parse_Sec                 
  ,CPU_AMP_Sec                   
  ,CPU_Total_Sec                 
  ,IOCntM_Physical               
  ,IOCntM_Total                  
  ,IOGB_Physical                 
  ,IOGB_Total                    
  ,IOTA_Used_cntB                
  ,IOTA_SysMax_cntB              
  ,NumOfActiveAMPs_Avg           
  ,Spool_GB                      
  ,Spool_GB_Avg                  
  ,CacheHit_Pct                  
  ,CPUSec_Skew_AvgPCt            
  ,IOCnt_Skew_AvgPct             
  ,qrycnt_in_runtime_0000_0001   
  ,qrycnt_in_runtime_0001_0005   
  ,qrycnt_in_runtime_0005_0010   
  ,qrycnt_in_runtime_0010_0030   
  ,qrycnt_in_runtime_0030_0060   
  ,qrycnt_in_runtime_0060_0300   
  ,qrycnt_in_runtime_0300_0600   
  ,qrycnt_in_runtime_0600_1800   
  ,qrycnt_in_runtime_1800_3600   
  ,qrycnt_in_runtime_3600_plus   
  ,cpusec_in_runtime_0000_0001   
  ,cpusec_in_runtime_0001_0005   
  ,cpusec_in_runtime_0005_0010   
  ,cpusec_in_runtime_0010_0030   
  ,cpusec_in_runtime_0030_0060   
  ,cpusec_in_runtime_0060_0300   
  ,cpusec_in_runtime_0300_0600   
  ,cpusec_in_runtime_0600_1800   
  ,cpusec_in_runtime_1800_3600   
  ,cpusec_in_runtime_3600_plus   
  ,iogb_in_runtime_0000_0001     
  ,iogb_in_runtime_0001_0005     
  ,iogb_in_runtime_0005_0010     
  ,iogb_in_runtime_0010_0030     
  ,iogb_in_runtime_0030_0060     
  ,iogb_in_runtime_0060_0300     
  ,iogb_in_runtime_0300_0600     
  ,iogb_in_runtime_0600_1800     
  ,iogb_in_runtime_1800_3600     
  ,iogb_in_runtime_3600_plus     
  ,qrycnt_in_delaytime_0000_0001 
  ,qrycnt_in_delaytime_0001_0005 
  ,qrycnt_in_delaytime_0005_0010 
  ,qrycnt_in_delaytime_0010_0030 
  ,qrycnt_in_delaytime_0030_0060 
  ,qrycnt_in_delaytime_0060_0300 
  ,qrycnt_in_delaytime_0300_0600 
  ,qrycnt_in_delaytime_0600_1800 
  ,qrycnt_in_delaytime_1800_3600 
  ,qrycnt_in_delaytime_3600_plus 
  ,cpusec_in_delaytime_0000_0001 
  ,cpusec_in_delaytime_0001_0005 
  ,cpusec_in_delaytime_0005_0010 
  ,cpusec_in_delaytime_0010_0030 
  ,cpusec_in_delaytime_0030_0060 
  ,cpusec_in_delaytime_0060_0300 
  ,cpusec_in_delaytime_0300_0600 
  ,cpusec_in_delaytime_0600_1800 
  ,cpusec_in_delaytime_1800_3600 
  ,cpusec_in_delaytime_3600_plus 
  ,iogb_in_delaytime_0000_0001   
  ,iogb_in_delaytime_0001_0005   
  ,iogb_in_delaytime_0005_0010   
  ,iogb_in_delaytime_0010_0030   
  ,iogb_in_delaytime_0030_0060   
  ,iogb_in_delaytime_0060_0300   
  ,iogb_in_delaytime_0300_0600   
  ,iogb_in_delaytime_0600_1800   
  ,iogb_in_delaytime_1800_3600   
  ,iogb_in_delaytime_3600_plus   
  ,Run_ID)
  SELECT 
   Site_ID                     
  ,LogDate                     
  ,LogHour                     
  ,((LogDate (FORMAT 'YYYY-MM-DD')) || ' ' || (LogHour (FORMAT '99') (CHAR(2))) || ':00:00') (TIMESTAMP(0)) AS LogDateHour
  ,Node_Type                   
  ,Node_Cnt                    
  ,vCPU_per_Node               
  ,Total_AMPs                  
  ,App_Bucket                  
  ,Use_Bucket                  
  ,Statement_Bucket            
  ,User_Bucket                 
  ,User_Department             
  ,User_SubDepartment          
  ,Request_Cnt                 
  ,Query_Cnt                   
  ,Query_MultiStatement_Cnt      
  ,Query_Error_Cnt               
  ,Query_Abort_Cnt               
  ,Query_NoIO_cnt                
  ,Query_InMem_Cnt               
  ,Query_PhysIO_Cnt              
  ,Query_Tactical_Cnt            
  ,Query_Complexity_Score_Avg    
  ,Returned_Row_Cnt              
  ,DelayTime_Sec                 
  ,Runtime_Parse_Sec             
  ,Runtime_AMP_Sec               
  ,Runtime_Total_Sec             
  ,TransferTime_Sec              
  ,CPU_Parse_Sec                 
  ,CPU_AMP_Sec                   
  ,Node_Cnt * vCPU_per_Node * 3600 as CPU_Total_Sec           
  ,IOCntM_Physical               
  ,IOCntM_Total                  
  ,IOGB_Physical                 
  ,IOGB_Total                    
  ,IOTA_Used_cntB                
  ,IOTA_SysMax_cntB              
  ,NumOfActiveAMPs_Avg           
  ,Spool_GB                      
  ,Spool_GB_Avg                  
  ,CacheHit_Pct                  
  ,CPUSec_Skew_AvgPCt            
  ,IOCnt_Skew_AvgPct             
  ,qrycnt_in_runtime_0000_0001   
  ,qrycnt_in_runtime_0001_0005   
  ,qrycnt_in_runtime_0005_0010   
  ,qrycnt_in_runtime_0010_0030   
  ,qrycnt_in_runtime_0030_0060   
  ,qrycnt_in_runtime_0060_0300   
  ,qrycnt_in_runtime_0300_0600   
  ,qrycnt_in_runtime_0600_1800   
  ,qrycnt_in_runtime_1800_3600   
  ,qrycnt_in_runtime_3600_plus   
  ,cpusec_in_runtime_0000_0001   
  ,cpusec_in_runtime_0001_0005   
  ,cpusec_in_runtime_0005_0010   
  ,cpusec_in_runtime_0010_0030   
  ,cpusec_in_runtime_0030_0060   
  ,cpusec_in_runtime_0060_0300   
  ,cpusec_in_runtime_0300_0600   
  ,cpusec_in_runtime_0600_1800   
  ,cpusec_in_runtime_1800_3600   
  ,cpusec_in_runtime_3600_plus   
  ,iogb_in_runtime_0000_0001     
  ,iogb_in_runtime_0001_0005     
  ,iogb_in_runtime_0005_0010     
  ,iogb_in_runtime_0010_0030     
  ,iogb_in_runtime_0030_0060     
  ,iogb_in_runtime_0060_0300     
  ,iogb_in_runtime_0300_0600     
  ,iogb_in_runtime_0600_1800     
  ,iogb_in_runtime_1800_3600     
  ,iogb_in_runtime_3600_plus     
  ,qrycnt_in_delaytime_0000_0001 
  ,qrycnt_in_delaytime_0001_0005 
  ,qrycnt_in_delaytime_0005_0010 
  ,qrycnt_in_delaytime_0010_0030 
  ,qrycnt_in_delaytime_0030_0060 
  ,qrycnt_in_delaytime_0060_0300 
  ,qrycnt_in_delaytime_0300_0600 
  ,qrycnt_in_delaytime_0600_1800 
  ,qrycnt_in_delaytime_1800_3600 
  ,qrycnt_in_delaytime_3600_plus 
  ,cpusec_in_delaytime_0000_0001 
  ,cpusec_in_delaytime_0001_0005 
  ,cpusec_in_delaytime_0005_0010 
  ,cpusec_in_delaytime_0010_0030 
  ,cpusec_in_delaytime_0030_0060 
  ,cpusec_in_delaytime_0060_0300 
  ,cpusec_in_delaytime_0300_0600 
  ,cpusec_in_delaytime_0600_1800 
  ,cpusec_in_delaytime_1800_3600 
  ,cpusec_in_delaytime_3600_plus 
  ,iogb_in_delaytime_0000_0001   
  ,iogb_in_delaytime_0001_0005   
  ,iogb_in_delaytime_0005_0010   
  ,iogb_in_delaytime_0010_0030   
  ,iogb_in_delaytime_0030_0060   
  ,iogb_in_delaytime_0060_0300   
  ,iogb_in_delaytime_0300_0600   
  ,iogb_in_delaytime_0600_1800   
  ,iogb_in_delaytime_1800_3600   
  ,iogb_in_delaytime_3600_plus   
  ,:runid AS Run_ID
  FROM adlste_coa_stg.stg_dat_DBQL_Core ;
  
  SET runid = parentrunid;
  CALL adlste_coa.sp_audit_log(:runid, :siteid, :tablename, :callingsp, :spversion, :startdate, :enddate, 
                               'normal run', 'STEP', 'Inserted stg into coat_dat_DBQL_Core');
      

    DELETE FROM adlste_coa.coat_dat_CPU
    WHERE   (Site_ID, LogDate, LogHour) IN
    (SELECT Site_ID, LogDate, LogHour FROM adlste_coa_STG.stg_dat_DBQL_Core);
      
  SET runid = parentrunid;
  CALL adlste_coa.sp_audit_log(:runid, :siteid, :tablename, :callingsp, :spversion, :startdate, :enddate, 
                               'normal run', 'STEP', 'Removed existing records from coat_dat_CPU');

      
    insert into adlste_coa.coat_dat_cpu 
    select distinct 
     Site_ID  
    ,LogDate
    ,LogHour
    ,((LogDate (FORMAT 'YYYY-MM-DD')) || ' ' 
     || (LogHour (FORMAT '99') (CHAR(2))) || ':00:00') (TIMESTAMP(0)) AS LogDateHour
    ,CPU_Total_DBS_Sec     as CPU_DBS_Sec
    ,CPU_Total_OS_Sec      as CPU_OS_Sec 
    ,CPU_Total_IOWait_Sec  as CPU_IOWait_Sec
    ,CPU_Total_Idle_Sec    as CPU_Idle_Sec
    ,CPU_Total_Sec         as CPU_TOTAL_Actual_Sec
    ,Node_Cnt * vCPU_per_Node * 3600 as CPU_TOTAL_Calc_Sec
    from adlste_coa_stg.stg_dat_DBQL_Core ;

   SET runid = parentrunid;
   CALL adlste_coa.sp_audit_log(:runid, :siteid, :tablename, :callingsp, :spversion, :startdate, :enddate, 
                               'normal run', 'STEP', 'Inserted stg into coat_dat_CPU');
     
 SET runid = parentrunid;
 CALL adlste_coa.sp_audit_log(:runid, :siteid, :tablename, :callingsp, :spversion, :startdate, :enddate, 'normal run', 'END', '');
  
END;

Success: 0 rows affected

In [102]:
call adlste_coa.sp_dat_DBQL_Core('1.15')

Success: 0 rows affected

In [104]:
select top 10 * from adlste_coa.coa_audit_runlog order by 1 desc

Run_ID,ParentRun_ID,Site_ID,TableName,StartDate,EndDate,CallingSP,SQLVersion,Run_Type,Run_Status,Run_Message,Run_User,Run_TS
31,26,APPLE62SEDONA,adlste_coa.coat_dat_DBQL_core,2020-03-03,2020-06-01,adlste_coa.sp_dat_DBQL_core,1,normal run,END,,SH186014,2020-06-03 16:51:25
30,26,APPLE62SEDONA,adlste_coa.coat_dat_DBQL_core,2020-03-03,2020-06-01,adlste_coa.sp_dat_DBQL_core,1,normal run,STEP,Inserted stg into coat_dat_CPU,SH186014,2020-06-03 16:51:25
29,26,APPLE62SEDONA,adlste_coa.coat_dat_DBQL_core,2020-03-03,2020-06-01,adlste_coa.sp_dat_DBQL_core,1,normal run,STEP,Removed existing records from coat_dat_CPU,SH186014,2020-06-03 16:51:25
28,26,APPLE62SEDONA,adlste_coa.coat_dat_DBQL_core,2020-03-03,2020-06-01,adlste_coa.sp_dat_DBQL_core,1,normal run,STEP,Inserted stg into coat_dat_DBQL_Core,SH186014,2020-06-03 16:51:25
27,26,APPLE62SEDONA,adlste_coa.coat_dat_DBQL_core,2020-03-03,2020-06-01,adlste_coa.sp_dat_DBQL_core,1,normal run,STEP,Removed existing records from coat_dat_DBQL_Core,SH186014,2020-06-03 16:51:22
26,0,APPLE62SEDONA,adlste_coa.coat_dat_DBQL_core,2020-03-03,2020-06-01,adlste_coa.sp_dat_DBQL_core,1,normal run,START,,SH186014,2020-06-03 16:51:22
25,20,,adlste_coa.coat_dat_DBQL_core,,,adlste_coa.sp_dat_DBQL_core,0,normal run,END,,SH186014,2020-06-03 16:08:24
24,20,,adlste_coa.coat_dat_DBQL_core,,,adlste_coa.sp_dat_DBQL_core,0,normal run,STEP,Inserted stg into coat_dat_CPU,SH186014,2020-06-03 16:08:24
23,20,,adlste_coa.coat_dat_DBQL_core,,,adlste_coa.sp_dat_DBQL_core,0,normal run,STEP,Removed existing records from coat_dat_CPU,SH186014,2020-06-03 16:08:24
22,20,,adlste_coa.coat_dat_DBQL_core,,,adlste_coa.sp_dat_DBQL_core,0,normal run,STEP,Inserted stg into coat_dat_DBQL_Core,SH186014,2020-06-03 16:08:24

In [105]:
Select count(*) from adlste_coa.coat_dat_DBQL_Core

Count(*)
1805860

In [108]:
Select count(*) from adlste_coa.coat_dat_CPU

(Count(*)/24.00)
90.96

## Additional TO-DOs:
- stored proc augmented to support multiple SiteIDs
- augment view to include metric calcs (not just facts)
- join for Account, Site_Name, CSM, Account_Team, other alignments

In [ ]:
insert into adlste_coa_stg.stg_dat_DBQL_Core
Select 
 Site_ID                          
,LogDate                          
,LogHour        
,'Unknown' as Node_Type
,0 as Node_Cnt
,0 as vCPU_per_Node
,Total_AMPs   

,App_Bucket                       
,Use_Bucket                       
,Statement_Bucket                 
,User_Bucket                                     
,User_Department                  
,User_SubDepartment   

,sum(Request_Cnt)                  
,sum(Query_Cnt)       
,sum(MultiStatement_Count)                   
,sum(Query_Error_Cnt)                  
,sum(Query_Abort_Cnt)                  
,sum(Query_NoIO_cnt)                   
,sum(Query_InMem_Cnt)                  
,sum(Query_PhysIO_Cnt)                 
,sum(case when Query_Type='Tactical' then Query_Cnt else 0 end) as Query_Tactical_Cnt
,avg(Query_Complexity_Score_Avg)       
,sum(Returned_Row_Cnt)      

,sum(DelayTime_Sec)                    
,sum(Runtime_Parse_Sec)                
,sum(Runtime_AMP_Sec)                  
,sum(Runtime_Total_Sec)                
,sum(TransferTime_Sec)     

,sum(CPU_Parse_Sec)                    
,sum(CPU_AMP_Sec)                      
,0,0,0,0,0 as CPU_Total_Stuff

,sum(IOCntM_Physical)                  
,sum(IOCntM_Total)                     
,sum(IOGB_Physical)                    
,sum(IOGB_Total)                       
,sum(IOTA_Used_cntB)                   
,sum(IOTA_SysMax_cntB)  

,avg(NumOfActiveAMPs_Avg)              
,sum(Spool_GB)                         
,sum(Spool_GB_Avg)                     
,0 as CacheHit_Pct      
,avg(CPUSec_Skew_AvgPCt)
,avg(IOCnt_Skew_AvgPct)

,sum(qrycnt_in_runtime_0000_0001)      
,sum(qrycnt_in_runtime_0001_0005)      
,sum(qrycnt_in_runtime_0005_0010)      
,sum(qrycnt_in_runtime_0010_0030)      
,sum(qrycnt_in_runtime_0030_0060)      
,sum(qrycnt_in_runtime_0060_0300)      
,sum(qrycnt_in_runtime_0300_0600)      
,sum(qrycnt_in_runtime_0600_1800)      
,sum(qrycnt_in_runtime_1800_3600)      
,sum(qrycnt_in_runtime_3600_plus)      
,sum(cpusec_in_runtime_0000_0001)      
,sum(cpusec_in_runtime_0001_0005)      
,sum(cpusec_in_runtime_0005_0010)      
,sum(cpusec_in_runtime_0010_0030)      
,sum(cpusec_in_runtime_0030_0060)      
,sum(cpusec_in_runtime_0060_0300)      
,sum(cpusec_in_runtime_0300_0600)      
,sum(cpusec_in_runtime_0600_1800)      
,sum(cpusec_in_runtime_1800_3600)      
,sum(cpusec_in_runtime_3600_plus)      
,sum(iogb_in_runtime_0000_0001)        
,sum(iogb_in_runtime_0001_0005)        
,sum(iogb_in_runtime_0005_0010)        
,sum(iogb_in_runtime_0010_0030)        
,sum(iogb_in_runtime_0030_0060)        
,sum(iogb_in_runtime_0060_0300)        
,sum(iogb_in_runtime_0300_0600)        
,sum(iogb_in_runtime_0600_1800)        
,sum(iogb_in_runtime_1800_3600)        
,sum(iogb_in_runtime_3600_plus)        
,sum(qrycnt_in_delaytime_0000_0001)    
,sum(qrycnt_in_delaytime_0001_0005)    
,sum(qrycnt_in_delaytime_0005_0010)    
,sum(qrycnt_in_delaytime_0010_0030)    
,sum(qrycnt_in_delaytime_0030_0060)    
,sum(qrycnt_in_delaytime_0060_0300)    
,sum(qrycnt_in_delaytime_0300_0600)    
,sum(qrycnt_in_delaytime_0600_1800)    
,sum(qrycnt_in_delaytime_1800_3600)    
,sum(qrycnt_in_delaytime_3600_plus)    
,sum(cpusec_in_delaytime_0000_0001)    
,sum(cpusec_in_delaytime_0001_0005)    
,sum(cpusec_in_delaytime_0005_0010)    
,sum(cpusec_in_delaytime_0010_0030)    
,sum(cpusec_in_delaytime_0030_0060)    
,sum(cpusec_in_delaytime_0060_0300)    
,sum(cpusec_in_delaytime_0300_0600)    
,sum(cpusec_in_delaytime_0600_1800)    
,sum(cpusec_in_delaytime_1800_3600)    
,sum(cpusec_in_delaytime_3600_plus)    
,sum(iogb_in_delaytime_0000_0001)      
,sum(iogb_in_delaytime_0001_0005)      
,sum(iogb_in_delaytime_0005_0010)      
,sum(iogb_in_delaytime_0010_0030)      
,sum(iogb_in_delaytime_0030_0060)      
,sum(iogb_in_delaytime_0060_0300)      
,sum(iogb_in_delaytime_0300_0600)      
,sum(iogb_in_delaytime_0600_1800)      
,sum(iogb_in_delaytime_1800_3600)      
,sum(iogb_in_delaytime_3600_plus)  
from adlste_coa.coat_dat_dbql_core_old2
group by  
Site_ID                          
,LogDate                          
,LogHour        
,Total_AMPs   
,App_Bucket                       
,Use_Bucket                       
,Statement_Bucket                 
,User_Bucket                                     
,User_Department                  
,User_SubDepartment

In [48]:
select count(*) from adlste_coa.coat_dat_DBQL_Core

Count(*)
707987

In [51]:
select top 10 
 Node_Cnt * vCPU_per_Node * 3600 as CPU_Total_Sec_Calc
,CPU_Total_Sec 
from adlste_coa.coat_dat_DBQL_Core
where Site_ID = 'Apple57Crescent'  and LogDate  =  '2020-03-07' and LogHour = 12

CPU_Total_Sec_Calc,CPU_Total_Sec
28224000,2822877792.0000
28224000,2822877792.0000
28224000,2822877792.0000
28224000,2822877792.0000
28224000,2822877792.0000
28224000,2822877792.0000
28224000,2822877792.0000
28224000,2822877792.0000
28224000,2822877792.0000
28224000,2822877792.0000

## Test process

###  Built Temp Table:   dim_app

In [ ]:
%connect name=Transcend

In [ ]:
CREATE MULTISET VOLATILE TABLE "dim_app.csv"
("SiteID"                      VARCHAR(107)  CHARACTER SET UNICODE 
,"Pattern_Type"                VARCHAR(105)  CHARACTER SET UNICODE 
,"Pattern"                     VARCHAR(125)  CHARACTER SET UNICODE 
,"App_Bucket"                  VARCHAR(115)  CHARACTER SET UNICODE 
,"Use_Bucket"                  VARCHAR(111)  CHARACTER SET UNICODE 
,"Priority"                    BIGINT
) NO PRIMARY INDEX
ON COMMIT PRESERVE ROWS;

In [ ]:
INSERT INTO "dim_app.csv"
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('ATANASUITE' as varchar(125))
 ,cast('Atanasuite' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(1000 as bigint)
from (sel 1 one) i0    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('WIREPORTSERVER' as varchar(125))
 ,cast('BOBJ' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(1010 as bigint)
from (sel 1 one) i1    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('BTEQ' as varchar(125))
 ,cast('BTEQ' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(1020 as bigint)
from (sel 1 one) i2    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('HTTPD' as varchar(125))
 ,cast('HTTPD' as varchar(115))
 ,cast('Application' as varchar(111))
 ,cast(1030 as bigint)
from (sel 1 one) i3    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('JMP' as varchar(125))
 ,cast('JMP' as varchar(115))
 ,cast('Application' as varchar(111))
 ,cast(1040 as bigint)
from (sel 1 one) i4    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('DTSRUN' as varchar(125))
 ,cast('MS SSIS' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(1050 as bigint)
from (sel 1 one) i5    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('EXCEL' as varchar(125))
 ,cast('MS Office' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(1060 as bigint)
from (sel 1 one) i6    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('PHP' as varchar(125))
 ,cast('PHP' as varchar(115))
 ,cast('Application' as varchar(111))
 ,cast(1070 as bigint)
from (sel 1 one) i7    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('RSESSION' as varchar(125))
 ,cast('R' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(1080 as bigint)
from (sel 1 one) i8    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('SAS' as varchar(125))
 ,cast('SAS' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(1090 as bigint)
from (sel 1 one) i9    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Queryman' as varchar(125))
 ,cast('SQLAssistant' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(1100 as bigint)
from (sel 1 one) i10    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('SQLA' as varchar(125))
 ,cast('SQLAssistant' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(1110 as bigint)
from (sel 1 one) i11    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('ARCMain' as varchar(125))
 ,cast('TD-BAR' as varchar(115))
 ,cast('Backup' as varchar(111))
 ,cast(1120 as bigint)
from (sel 1 one) i12    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('DSMain' as varchar(125))
 ,cast('TD-BAR' as varchar(115))
 ,cast('Backup' as varchar(111))
 ,cast(1130 as bigint)
from (sel 1 one) i13    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('MULTILOAD' as varchar(125))
 ,cast('TPT' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(1140 as bigint)
from (sel 1 one) i14    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('TBUILDEXE' as varchar(125))
 ,cast('TPT' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(1150 as bigint)
from (sel 1 one) i15    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('TDLOADEXE' as varchar(125))
 ,cast('TPT' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(1160 as bigint)
from (sel 1 one) i16    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('TPTSTRM' as varchar(125))
 ,cast('TPTStream' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(1170 as bigint)
from (sel 1 one) i17    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('TPTUPD' as varchar(125))
 ,cast('TPT' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(1180 as bigint)
from (sel 1 one) i18    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('TPUMPEXE' as varchar(125))
 ,cast('TPTSTream' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(1190 as bigint)
from (sel 1 one) i19    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('AGINITY.NETEZZAWORKBENCH%' as varchar(125))
 ,cast('Netezza' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(10000 as bigint)
from (sel 1 one) i20    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('ADEPTRA_SELFSERVREPORT%' as varchar(125))
 ,cast('Adeptra' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(10100 as bigint)
from (sel 1 one) i21    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('BIBUSTKSERVERMAIN%' as varchar(125))
 ,cast('Cognos' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(10200 as bigint)
from (sel 1 one) i22    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('M_DB.TER.GCC4P64%' as varchar(125))
 ,cast('Ab Initio' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(10300 as bigint)
from (sel 1 one) i23    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('LOADIPSHARETABLE%' as varchar(125))
 ,cast('Unknown' as varchar(115))
 ,cast('Unknown' as varchar(111))
 ,cast(10400 as bigint)
from (sel 1 one) i24    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('AGINIT~1:NET:SS%' as varchar(125))
 ,cast('Netezza' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(10500 as bigint)
from (sel 1 one) i25    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('DTSDEBUGHOST%' as varchar(125))
 ,cast('MS SSIS' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(10600 as bigint)
from (sel 1 one) i26    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('ISSERVEREXEC%' as varchar(125))
 ,cast('SSIS' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(10700 as bigint)
from (sel 1 one) i27    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('NODEDBQUERY%' as varchar(125))
 ,cast('LavaStorm' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(10800 as bigint)
from (sel 1 one) i28    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('QVCONNECT32%' as varchar(125))
 ,cast('QlikView' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(10900 as bigint)
from (sel 1 one) i29    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('QVCONNECT64%' as varchar(125))
 ,cast('QlikView' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(11000 as bigint)
from (sel 1 one) i30    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('AL_DESIGNER%' as varchar(125))
 ,cast('SAP BODS' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(11100 as bigint)
from (sel 1 one) i31    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('TABPROTOSRV%' as varchar(125))
 ,cast('Tableau' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(11200 as bigint)
from (sel 1 one) i32    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('NODEDBEXEC%' as varchar(125))
 ,cast('LavaStorm' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(11300 as bigint)
from (sel 1 one) i33    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('DTSBUGHOST%' as varchar(125))
 ,cast('MS SSIS' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(11400 as bigint)
from (sel 1 one) i34    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('AL_ENGINE%' as varchar(125))
 ,cast('SAP BODS' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(11500 as bigint)
from (sel 1 one) i35    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('ISSERVICE%' as varchar(125))
 ,cast('Teradata' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(11600 as bigint)
from (sel 1 one) i36    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('M8MULPRC%' as varchar(125))
 ,cast('Microstrategy' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(11700 as bigint)
from (sel 1 one) i37    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('QUERYMAN%' as varchar(125))
 ,cast('SQLAssistant' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(11800 as bigint)
from (sel 1 one) i38    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('SQLA:NET%' as varchar(125))
 ,cast('SQLAssistant' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(11900 as bigint)
from (sel 1 one) i39    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('EXECUTOR%' as varchar(125))
 ,cast('TPT' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(12000 as bigint)
from (sel 1 one) i40    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('FASTLOAD%' as varchar(125))
 ,cast('TPT' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(12100 as bigint)
from (sel 1 one) i41    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('MULTLOAD%' as varchar(125))
 ,cast('TPT' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(12200 as bigint)
from (sel 1 one) i42    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('RUNDLL32%' as varchar(125))
 ,cast('Unknown' as varchar(115))
 ,cast('Unknown' as varchar(111))
 ,cast(12300 as bigint)
from (sel 1 one) i43    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('ALTERYX%' as varchar(125))
 ,cast('Alteryx' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(12400 as bigint)
from (sel 1 one) i44    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('TRANSDA%' as varchar(125))
 ,cast('Cognos' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(12500 as bigint)
from (sel 1 one) i45    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('MSQRY32%' as varchar(125))
 ,cast('MS Office' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(12600 as bigint)
from (sel 1 one) i46    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('TDWMDIP%' as varchar(125))
 ,cast('Teradata' as varchar(115))
 ,cast('Internal' as varchar(111))
 ,cast(12700 as bigint)
from (sel 1 one) i47    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('FASTEXP%' as varchar(125))
 ,cast('TPT' as varchar(115))
 ,cast('ETL/Export' as varchar(111))
 ,cast(12800 as bigint)
from (sel 1 one) i48    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('OLELOAD%' as varchar(125))
 ,cast('TPT' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(12900 as bigint)
from (sel 1 one) i49    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('TPTLOAD%' as varchar(125))
 ,cast('TPT' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(13000 as bigint)
from (sel 1 one) i50    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('ARCMAIN%' as varchar(125))
 ,cast('TTU' as varchar(115))
 ,cast('Backup' as varchar(111))
 ,cast(13100 as bigint)
from (sel 1 one) i51    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('DTEXEC%' as varchar(125))
 ,cast('MS SSIS' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(13200 as bigint)
from (sel 1 one) i52    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('DEVENV%' as varchar(125))
 ,cast('MS VisualStudio' as varchar(115))
 ,cast('Application' as varchar(111))
 ,cast(13300 as bigint)
from (sel 1 one) i53    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('NVTERA%' as varchar(125))
 ,cast('NetVault' as varchar(115))
 ,cast('Backup' as varchar(111))
 ,cast(13400 as bigint)
from (sel 1 one) i54    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('TPTEXP%' as varchar(125))
 ,cast('TPT' as varchar(115))
 ,cast('ETL/Export' as varchar(111))
 ,cast(13500 as bigint)
from (sel 1 one) i55    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('VECOMP%' as varchar(125))
 ,cast('TTU' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(13600 as bigint)
from (sel 1 one) i56    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('WINDDI%' as varchar(125))
 ,cast('TTU' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(13700 as bigint)
from (sel 1 one) i57    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('%INFORMATICA%' as varchar(125))
 ,cast('Informatica' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(13800 as bigint)
from (sel 1 one) i58    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('PMDTM' as varchar(125))
 ,cast('Informatica' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(13900 as bigint)
from (sel 1 one) i59    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('PMDESIGN' as varchar(125))
 ,cast('Informatica' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(14000 as bigint)
from (sel 1 one) i60    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('BIBUS%' as varchar(125))
 ,cast('Cognos' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(14100 as bigint)
from (sel 1 one) i61    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('COGTR%' as varchar(125))
 ,cast('Cognos' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(14200 as bigint)
from (sel 1 one) i62    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('TM1SD%' as varchar(125))
 ,cast('Cognos' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(14300 as bigint)
from (sel 1 one) i63    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('CRW32%' as varchar(125))
 ,cast('Crystal Reports' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(14400 as bigint)
from (sel 1 one) i64    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('DBVIS%' as varchar(125))
 ,cast('DbVisualizer' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(14500 as bigint)
from (sel 1 one) i65    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('UWSGI%' as varchar(125))
 ,cast('Teradata' as varchar(115))
 ,cast('Unknown' as varchar(111))
 ,cast(14600 as bigint)
from (sel 1 one) i66    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('TIWIZ%' as varchar(125))
 ,cast('TPT' as varchar(115))
 ,cast('ETL' as varchar(111))
 ,cast(14700 as bigint)
from (sel 1 one) i67    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('UNICA%' as varchar(125))
 ,cast('Unica' as varchar(115))
 ,cast('Application' as varchar(111))
 ,cast(14800 as bigint)
from (sel 1 one) i68    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('JDBC%' as varchar(125))
 ,cast('JDBC' as varchar(115))
 ,cast('Application' as varchar(111))
 ,cast(14900 as bigint)
from (sel 1 one) i69    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('%/JMP' as varchar(125))
 ,cast('JMP' as varchar(115))
 ,cast('Application' as varchar(111))
 ,cast(15000 as bigint)
from (sel 1 one) i70    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('W3WP%' as varchar(125))
 ,cast('MS IIS' as varchar(115))
 ,cast('Application' as varchar(111))
 ,cast(15100 as bigint)
from (sel 1 one) i71    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('%ANACONDA%' as varchar(125))
 ,cast('Python' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(15200 as bigint)
from (sel 1 one) i72    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('%SASFound%' as varchar(125))
 ,cast('SAS' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(15300 as bigint)
from (sel 1 one) i73    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('TSET%' as varchar(125))
 ,cast('TTU' as varchar(115))
 ,cast('Support' as varchar(111))
 ,cast(15400 as bigint)
from (sel 1 one) i74    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('%POWERBI%' as varchar(125))
 ,cast('PowerBI' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(15500 as bigint)
from (sel 1 one) i75    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('%TABLEAU%' as varchar(125))
 ,cast('Tableau' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(15600 as bigint)
from (sel 1 one) i76    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('BMT%' as varchar(125))
 ,cast('Cognos' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(15700 as bigint)
from (sel 1 one) i77    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('%PYT' as varchar(125))
 ,cast('Python' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(15800 as bigint)
from (sel 1 one) i78    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('%PYTHON%' as varchar(125))
 ,cast('Python' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(15900 as bigint)
from (sel 1 one) i79    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('DUL%' as varchar(125))
 ,cast('Teradata' as varchar(115))
 ,cast('Analytic' as varchar(111))
 ,cast(16000 as bigint)
from (sel 1 one) i80    ;

In [ ]:
create volatile table dim_app as
(
  select
   o.AppID
  ,coalesce(p.App_Bucket,'Unknown') as App_Bucket
  ,coalesce(p.Use_Bucket,'Unknown')  as Use_Bucket
  ,coalesce(p.Priority,1e6) as Priority_
  ,coalesce(p.Pattern_Type,'Equal')  as Pattern_Type
  ,coalesce(p.Pattern, o.AppID)      as Pattern
  ,coalesce(p.SiteID, 'None')        as SiteID_
  from (select distinct AppID from pdcrinfo.DBQLogTbl_Hst
        where LogDate between Current_Date - 7 and Current_Date - 1) as o
  left join "dim_app.csv" as p
    on (case
        when p.Pattern_Type = 'Equal' and o.AppID = p.Pattern then 1
        when p.Pattern_Type = 'Like'  and o.AppID like p.Pattern then 1
        when p.Pattern_Type = 'RegEx'
         and character_length(regexp_substr(o.AppID, p.Pattern,1,1,'i'))>0 then 1
        else 0 end) = 1
  qualify Priority_ = min(Priority_)over(partition by o.AppID)
  where SiteID_ in('default','None') or 'TDCloud%' like SiteID_
) with data
no primary index
on commit preserve rows
;

In [ ]:
drop table "dim_app.csv"
;

In [ ]:
select count(*) from dim_app

###  Built Temp Table:   dim_statement

In [ ]:
CREATE MULTISET VOLATILE TABLE "dim_statement.csv"
("SiteID"                      VARCHAR(107)  CHARACTER SET UNICODE 
,"Pattern_Type"                VARCHAR(105)  CHARACTER SET UNICODE 
,"Pattern"                     VARCHAR(120)  CHARACTER SET UNICODE 
,"Statement_Bucket"            VARCHAR(119)  CHARACTER SET UNICODE 
,"Priority"                    BIGINT
) NO PRIMARY INDEX
ON COMMIT PRESERVE ROWS;

In [ ]:

INSERT INTO "dim_statement.csv"
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Abort ' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(100 as bigint)
from (sel 1 one) i0    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Alter Table ' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(110 as bigint)
from (sel 1 one) i1    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Alter Table Map' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(115 as bigint)
from (sel 1 one) i2    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Call' as varchar(120))
 ,cast('Stored Proc' as varchar(119))
 ,cast(120 as bigint)
from (sel 1 one) i3    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Check Point' as varchar(120))
 ,cast('Load' as varchar(119))
 ,cast(130 as bigint)
from (sel 1 one) i4    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Collect Statistics' as varchar(120))
 ,cast('Collect Stats' as varchar(119))
 ,cast(140 as bigint)
from (sel 1 one) i5    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Comment Get/Set ' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(150 as bigint)
from (sel 1 one) i6    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Commit Work ' as varchar(120))
 ,cast('Load' as varchar(119))
 ,cast(160 as bigint)
from (sel 1 one) i7    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Create Table' as varchar(120))
 ,cast('Create/Drop' as varchar(119))
 ,cast(170 as bigint)
from (sel 1 one) i8    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Database' as varchar(120))
 ,cast('Other' as varchar(119))
 ,cast(180 as bigint)
from (sel 1 one) i9    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Delete' as varchar(120))
 ,cast('Merge/Update/Delete' as varchar(119))
 ,cast(190 as bigint)
from (sel 1 one) i10    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Drop Table' as varchar(120))
 ,cast('Create/Drop' as varchar(119))
 ,cast(200 as bigint)
from (sel 1 one) i11    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Dump Database' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(210 as bigint)
from (sel 1 one) i12    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('End Edit' as varchar(120))
 ,cast('Other' as varchar(119))
 ,cast(220 as bigint)
from (sel 1 one) i13    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Exec' as varchar(120))
 ,cast('Macro' as varchar(119))
 ,cast(230 as bigint)
from (sel 1 one) i14    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Flush Query Logging ' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(240 as bigint)
from (sel 1 one) i15    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Give' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(250 as bigint)
from (sel 1 one) i16    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Help' as varchar(120))
 ,cast('Other' as varchar(119))
 ,cast(260 as bigint)
from (sel 1 one) i17    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Insert' as varchar(120))
 ,cast('Insert' as varchar(119))
 ,cast(270 as bigint)
from (sel 1 one) i18    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Merge Into' as varchar(120))
 ,cast('Merge/Update/Delete' as varchar(119))
 ,cast(280 as bigint)
from (sel 1 one) i19    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Not Applicable' as varchar(120))
 ,cast('Other' as varchar(119))
 ,cast(290 as bigint)
from (sel 1 one) i20    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Null' as varchar(120))
 ,cast('Other' as varchar(119))
 ,cast(300 as bigint)
from (sel 1 one) i21    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Release Lock' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(310 as bigint)
from (sel 1 one) i22    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Restore' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(320 as bigint)
from (sel 1 one) i23    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Revoke' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(330 as bigint)
from (sel 1 one) i24    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Select' as varchar(120))
 ,cast('Select' as varchar(119))
 ,cast(340 as bigint)
from (sel 1 one) i25    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Set Query_Band' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(350 as bigint)
from (sel 1 one) i26    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Set Session ' as varchar(120))
 ,cast('Other' as varchar(119))
 ,cast(360 as bigint)
from (sel 1 one) i27    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Set Time Zone' as varchar(120))
 ,cast('Other' as varchar(119))
 ,cast(365 as bigint)
from (sel 1 one) i28    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Show' as varchar(120))
 ,cast('Other' as varchar(119))
 ,cast(370 as bigint)
from (sel 1 one) i29    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('UCAbort ' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(380 as bigint)
from (sel 1 one) i30    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Unrecognized type ' as varchar(120))
 ,cast('Other' as varchar(119))
 ,cast(390 as bigint)
from (sel 1 one) i31    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Equal' as varchar(105))
 ,cast('Update' as varchar(120))
 ,cast('Merge/Update/Delete' as varchar(119))
 ,cast(400 as bigint)
from (sel 1 one) i32    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('%load%' as varchar(120))
 ,cast('Load' as varchar(119))
 ,cast(10000 as bigint)
from (sel 1 one) i33    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('%Transaction%' as varchar(120))
 ,cast('Other' as varchar(119))
 ,cast(10010 as bigint)
from (sel 1 one) i34    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('Create%' as varchar(120))
 ,cast('Create/Drop' as varchar(119))
 ,cast(10020 as bigint)
from (sel 1 one) i35    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('Drop%' as varchar(120))
 ,cast('Create/Drop' as varchar(119))
 ,cast(10030 as bigint)
from (sel 1 one) i36    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('Grant%' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(10040 as bigint)
from (sel 1 one) i37    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('Modify%' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(10050 as bigint)
from (sel 1 one) i38    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('Rename%' as varchar(120))
 ,cast('Admin' as varchar(119))
 ,cast(10060 as bigint)
from (sel 1 one) i39    UNION ALL
SELECT
  cast('Default' as varchar(107))
 ,cast('Like' as varchar(105))
 ,cast('Replace%' as varchar(120))
 ,cast('Create/Drop' as varchar(119))
 ,cast(10070 as bigint)
from (sel 1 one) i40    ;

In [ ]:
create volatile table dim_statement as
(
  select
   o.StatementType
  ,coalesce(p.Statement_Bucket,'Unknown') as Statement_Bucket
  ,coalesce(p.Priority,1e6) as Priority_
  ,coalesce(p.Pattern_Type,'Equal')  as Pattern_Type
  ,coalesce(p.Pattern, o.StatementType) as Pattern
  ,coalesce(p.SiteID, 'None')        as SiteID_
  from (select distinct StatementType from pdcrinfo.DBQLogTbl_Hst
        where LogDate between Current_Date - 7 and Current_Date - 1) as o
  left join "dim_statement.csv"  as p
    on (case
        when p.Pattern_Type = 'Equal' and o.StatementType = p.Pattern then 1
        when p.Pattern_Type = 'Like'  and o.StatementType like p.Pattern then 1
        when p.Pattern_Type = 'RegEx'
         and character_length(regexp_substr(o.StatementType, p.Pattern,1,1,'i'))>0 then 1
        else 0 end) = 1
  qualify Priority_ = min(Priority_)over(partition by o.StatementType)
  where SiteID_ in('default','None') or 'TDCloud%' like SiteID_
) with data
no primary index
on commit preserve rows
;

In [ ]:
drop table "dim_statement.csv"
;

In [ ]:
select count(*) from dim_statement

###  Built Temp Table:   dim_users

In [ ]:

CREATE MULTISET VOLATILE TABLE "dim_user.csv"
("SiteID"                      VARCHAR(111)  CHARACTER SET UNICODE 
,"Pattern_Type"                VARCHAR(105)  CHARACTER SET UNICODE 
,"Pattern"                     VARCHAR(116)  CHARACTER SET UNICODE 
,"User_Bucket"                 VARCHAR(110)  CHARACTER SET UNICODE 
,"User_Department"             VARCHAR(104)  CHARACTER SET UNICODE 
,"User_SubDepartment"          VARCHAR(107)  CHARACTER SET UNICODE 
,"User_Region"                 VARCHAR(103)  CHARACTER SET UNICODE 
,"Priority"                    BIGINT
) NO PRIMARY INDEX
ON COMMIT PRESERVE ROWS;

In [ ]:

INSERT INTO "dim_user.csv"
SELECT
  cast('Default' as varchar(111))
 ,cast('Equal' as varchar(105))
 ,cast('Viewpoint' as varchar(116))
 ,cast('TDInternal' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(100 as bigint)
from (sel 1 one) i0    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Equal' as varchar(105))
 ,cast('TDWM' as varchar(116))
 ,cast('TDInternal' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(100 as bigint)
from (sel 1 one) i1    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Equal' as varchar(105))
 ,cast('CRASHDUMPS' as varchar(116))
 ,cast('TDInternal' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(100 as bigint)
from (sel 1 one) i2    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Equal' as varchar(105))
 ,cast('DBC' as varchar(116))
 ,cast('TDInternal' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(100 as bigint)
from (sel 1 one) i3    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Equal' as varchar(105))
 ,cast('DBMON' as varchar(116))
 ,cast('TDInternal' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(100 as bigint)
from (sel 1 one) i4    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('%STG%USER%' as varchar(116))
 ,cast('ETL' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(2100 as bigint)
from (sel 1 one) i5    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('BAR_%' as varchar(116))
 ,cast('Admin' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(2125 as bigint)
from (sel 1 one) i6    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('%_BAR' as varchar(116))
 ,cast('Admin' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(2150 as bigint)
from (sel 1 one) i7    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('DSA_%' as varchar(116))
 ,cast('Admin' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(2175 as bigint)
from (sel 1 one) i8    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('%_DSA' as varchar(116))
 ,cast('Admin' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(2200 as bigint)
from (sel 1 one) i9    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('ARC_%' as varchar(116))
 ,cast('Admin' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(2225 as bigint)
from (sel 1 one) i10    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('%_ARC' as varchar(116))
 ,cast('Admin' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(2250 as bigint)
from (sel 1 one) i11    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('DBADMIN%' as varchar(116))
 ,cast('Admin' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(2500 as bigint)
from (sel 1 one) i12    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('%_ADMIN' as varchar(116))
 ,cast('Admin' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(2600 as bigint)
from (sel 1 one) i13    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('%_DBA' as varchar(116))
 ,cast('Admin' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(2800 as bigint)
from (sel 1 one) i14    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('CALLREP%' as varchar(116))
 ,cast('Analytic' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(4300 as bigint)
from (sel 1 one) i15    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('%Tableau%' as varchar(116))
 ,cast('Analytic' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(4400 as bigint)
from (sel 1 one) i16    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('%BOBJ%' as varchar(116))
 ,cast('Analytic' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(4500 as bigint)
from (sel 1 one) i17    UNION ALL
SELECT
  cast('Default' as varchar(111))
 ,cast('Like' as varchar(105))
 ,cast('%_ETL_%' as varchar(116))
 ,cast('ETL' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(6000 as bigint)
from (sel 1 one) i18    UNION ALL
SELECT
  cast('TDCLOUD%TD%' as varchar(111))
 ,cast('RegEx' as varchar(105))
 ,cast('[a-z]{2}[0-9]{6}' as varchar(116))
 ,cast('Analytic' as varchar(110))
 ,cast('dept' as varchar(104))
 ,cast('subdept' as varchar(107))
 ,cast('rgn' as varchar(103))
 ,cast(7000 as bigint)
from (sel 1 one) i19    ;

In [ ]:
create volatile table dim_user as
(
  select
   o.UserName
  ,o.UserHash
  ,coalesce(p.User_Bucket,'Unknown') as User_Bucket
  ,coalesce(p.User_Department, 'Unknown') as User_Department
  ,coalesce(p.User_SubDepartment, 'Unknown') as User_SubDepartment
  ,coalesce(p.User_Region, 'Unknown') as User_Region
  ,coalesce(p.Priority,1e6) as Priority_
  ,coalesce(p.Pattern_Type,'Equal')  as Pattern_Type
  ,coalesce(p.Pattern, o.UserName) as Pattern
  ,coalesce(p.SiteID, 'None')        as SiteID_
  from (select
         trim(DatabaseName) as UserName
        ,substr(Username,1,3) as first3
        ,substr(Username,floor(character_length(Username)/2)-1,3) as middle3
        ,substr(Username,character_length(Username)-3,3) as last3
        /* generate UserHash value */
        ,trim(cast(from_bytes(hashrow( Username),'base16') as char(9))) ||
         trim(cast(from_bytes(hashrow( first3  ),'base16') as char(9))) ||
         trim(cast(from_bytes(hashrow( middle3 ),'base16') as char(9))) ||
         trim(cast(from_bytes(hashrow( last3   ),'base16') as char(9))) as UserHash
        from dbc.DatabasesV where DBKind = 'U'
        ) as o
  left join "dim_user.csv" as p
    on (case
        when p.Pattern_Type = 'Equal' and o.UserName = p.Pattern then 1
        when p.Pattern_Type = 'Like'  and o.UserName like p.Pattern then 1
        when p.Pattern_Type = 'RegEx'
         and character_length(regexp_substr(o.UserName, p.Pattern,1,1,'i'))>0 then 1
        else 0 end) = 1
    and SiteID_ in('default','None') or 'TDCloud%' like SiteID_
  qualify Priority_ = min(Priority_)over(partition by o.UserName)
) with data
primary index (UserName)
on commit preserve rows
;

In [ ]:
drop table "dim_user.csv"
;

In [ ]:
collect stats on dim_user column(UserName)
;

In [ ]:
select count(*) from dim_user

## Test Final SQL

In [ ]:
drop table dbql_core_tmp

In [ ]:

SELECT
 '{siteid}'  as Site_ID
,dbql.LogDate
,cast(extract(HOUR from StartTime) as INT format '99') as LogHour
,max(Node_Type)     as Node_Type
,max(Node_Cnt)      as Node_Cnt
,max(vCPU_per_Node) as vCPU_per_Node
,cast(HashAmp()+1 as Integer) as Total_AMPs

/* all other dimensions (bucketed for space) */
,app.App_Bucket
,app.Use_Bucket
,stm.Statement_Bucket
,usr.User_Bucket
,usr.User_Department
,usr.User_SubDepartment

/* ====== Query Metrics ======= */
,zeroifnull(cast(count(1) as BigInt)) as Request_Cnt
,zeroifnull(sum(cast( dbql.Statements as BigInt))) as Query_Cnt
,zeroifnull(sum(cast(case when dbql.StatementGroup like '%=%' then 1 else 0 end as SmallInt))) as Query_MultiStatement_Cnt
/* ErrorCode 3158 == TASM Demotion, aka warning, not real error */
,zeroifnull(sum(cast(case when dbql.ErrorCode not in(0,3158)      then dbql.Statements else 0 end as int))) as Query_Error_Cnt
,zeroifnull(sum(cast(case when dbql.Abortflag = 'Y'               then dbql.Statements else 0 end as int))) as Query_Abort_Cnt
,zeroifnull(sum(cast(case when TotalIOCount = 0                   then dbql.Statements else 0 end as int))) as Query_NoIO_cnt
,zeroifnull(sum(cast(case when TotalIOCount > 0 AND ReqPhysIO = 0 then dbql.Statements else 0 end as int))) as Query_InMem_Cnt
,zeroifnull(sum(cast(case when TotalIOCount > 0 AND ReqPhysIO > 0 then dbql.Statements else 0 end as int))) as Query_PhysIO_Cnt
,zeroifnull(sum(cast(case
         when stm.Statement_Bucket = 'Select'
          and app.App_Bucket not in ('TPT')
          and (ZEROIFNULL( CAST(
             (EXTRACT(HOUR   FROM ((FirstRespTime - FirstStepTime) HOUR(3) TO SECOND(6)) ) * 3600)
            +(EXTRACT(MINUTE FROM ((FirstRespTime - FirstStepTime) HOUR(3) TO SECOND(6)) ) *   60)
            +(EXTRACT(SECOND FROM ((FirstRespTime - FirstStepTime) HOUR(3) TO SECOND(6)) ) *    1)
             as FLOAT))) <= 1  /* Runtime_AMP_Sec */
          and dbql.NumOfActiveAMPs < Total_AMPs
         then 1 else 0 end as Integer))) as Query_Tactical_Cnt
,zeroifnull(avg(cast(dbql.NumSteps * (character_length(dbql.QueryText)/100) as BigInt) )) as Query_Complexity_Score_Avg
,zeroifnull(sum(cast(dbql.NumResultRows as BigInt) )) as Returned_Row_Cnt

/* ====== Metrics: RunTimes ====== */
,sum(cast(dbql.DelayTime as decimal(18,2))) as DelayTime_Sec
,sum(ZEROIFNULL(CAST(
   (EXTRACT(HOUR   FROM ((FirstStepTime - StartTime) HOUR(3) TO SECOND(6)) ) * 3600)
  +(EXTRACT(MINUTE FROM ((FirstStepTime - StartTime) HOUR(3) TO SECOND(6)) ) *   60)
  +(EXTRACT(SECOND FROM ((FirstStepTime - StartTime) HOUR(3) TO SECOND(6)) ) *    1)
   as FLOAT))) as Runtime_Parse_Sec
,sum(ZEROIFNULL(CAST(
   (EXTRACT(HOUR   FROM ((FirstRespTime - FirstStepTime) HOUR(3) TO SECOND(6)) ) * 3600)
  +(EXTRACT(MINUTE FROM ((FirstRespTime - FirstStepTime) HOUR(3) TO SECOND(6)) ) *   60)
  +(EXTRACT(SECOND FROM ((FirstRespTime - FirstStepTime) HOUR(3) TO SECOND(6)) ) *    1)
   as FLOAT))) as Runtime_AMP_Sec
,sum(TotalFirstRespTime)  as Runtime_Total_Sec
,sum(ZEROIFNULL(CAST(
   case when LastRespTime is not null then
   (EXTRACT(HOUR   FROM ((LastRespTime - FirstRespTime) HOUR(3) TO SECOND(6)) ) * 3600)
  +(EXTRACT(MINUTE FROM ((LastRespTime - FirstRespTime) HOUR(3) TO SECOND(6)) ) *   60)
  +(EXTRACT(SECOND FROM ((LastRespTime - FirstRespTime) HOUR(3) TO SECOND(6)) ) *    1)
  else 0 end as FLOAT))) AS TransferTime_Sec


/* ====== Metrics: CPU & IO ====== */
,zeroifnull(sum( cast(dbql.ParserCPUTime  as decimal(18,2)))) as CPU_Parse_Sec
,zeroifnull(sum( cast(dbql.AMPCPUtime     as decimal(18,2)))) as CPU_AMP_Sec
,zeroifnull(max( cast(resusage.CPU_DBS    as decimal(18,2)))) as CPU_Total_DBS_Sec
,zeroifnull(max( cast(resusage.CPU_OS     as decimal(18,2)))) as CPU_Total_OS_Sec
,zeroifnull(max( cast(resusage.CPU_IOWait as decimal(18,2)))) as CPU_Total_IOWait_Sec
,zeroifnull(max( cast(resusage.CPU_Idle   as decimal(18,2)))) as CPU_Total_Idle_Sec
,zeroifnull(max( cast(resusage.CPU_Total  as decimal(18,2)))) as CPU_Total_Sec
/* TODO: check if failed queries log CPU consumption */


,zeroifnull(sum( cast(ReqPhysIO/1e6         as decimal(18,2)))) as IOCntM_Physical
,zeroifnull(sum( cast(TotalIOCount/1e6      as decimal(18,2)))) as IOCntM_Total
,zeroifnull(sum( cast(ReqPhysIOKB/1e6       as decimal(18,2)))) as IOGB_Physical
,zeroifnull(sum( cast(ReqIOKB/1e6           as decimal(18,2)))) as IOGB_Total
,zeroifnull(sum( cast(dbql.UsedIOTA/1e9     as decimal(18,2)))) as IOTA_Used_cntB
,zeroifnull(max( cast(resusage.MaxIOTA_cntB as decimal(18,2)))) as IOTA_SysMax_cntB


/* ====== Metrics: Other ====== */
,zeroifnull(avg(NumOfActiveAMPs)) as NumOfActiveAMPs_Avg
,zeroifnull(sum(SpoolUsage/1e9))  as Spool_GB
,zeroifnull(avg(SpoolUsage/1e9))  as Spool_GB_Avg
,zeroifnull(avg(1-(ReqPhysIO/nullifzero(TotalIOCount)))) as CacheHit_Pct

,zeroifnull(avg((AMPCPUTime / nullifzero(MaxAmpCPUTime*NumOfActiveAMPs))-1)) as CPUSec_Skew_AvgPCt
,zeroifnull(avg((TotalIOCount / nullifzero(MaxAmpIO*NumOfActiveAMPs))-1) ) as IOCnt_Skew_AvgPct


/* Query Runtime by [query count | cpu | iogb] */
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  is NULL OR  dbql.TotalFirstRespTime <1     THEN dbql.Statements ELSE 0 END AS INTEGER)))   as qrycnt_in_runtime_0000_0001
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=1    AND  dbql.TotalFirstRespTime <5     THEN dbql.Statements ELSE 0 END AS INTEGER)))   as qrycnt_in_runtime_0001_0005
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=5    AND  dbql.TotalFirstRespTime <10    THEN dbql.Statements ELSE 0 END AS INTEGER)))   as qrycnt_in_runtime_0005_0010
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=10   AND  dbql.TotalFirstRespTime <30    THEN dbql.Statements ELSE 0 END AS INTEGER)))   as qrycnt_in_runtime_0010_0030
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=30   AND  dbql.TotalFirstRespTime <60    THEN dbql.Statements ELSE 0 END AS INTEGER)))   as qrycnt_in_runtime_0030_0060
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=60   AND  dbql.TotalFirstRespTime <300   THEN dbql.Statements ELSE 0 END AS INTEGER)))   as qrycnt_in_runtime_0060_0300
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=300  AND  dbql.TotalFirstRespTime <600   THEN dbql.Statements ELSE 0 END AS INTEGER)))   as qrycnt_in_runtime_0300_0600
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=600  AND  dbql.TotalFirstRespTime <1800  THEN dbql.Statements ELSE 0 END AS INTEGER)))   as qrycnt_in_runtime_0600_1800
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=1800 AND  dbql.TotalFirstRespTime <3600  THEN dbql.Statements ELSE 0 END AS INTEGER)))   as qrycnt_in_runtime_1800_3600
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >3600                                      THEN dbql.Statements ELSE 0 END AS INTEGER)))   as qrycnt_in_runtime_3600_plus

,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  is NULL OR  dbql.TotalFirstRespTime <1     THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER)))  as cpusec_in_runtime_0000_0001
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=1    AND  dbql.TotalFirstRespTime <5     THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER)))  as cpusec_in_runtime_0001_0005
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=5    AND  dbql.TotalFirstRespTime <10    THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER)))  as cpusec_in_runtime_0005_0010
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=10   AND  dbql.TotalFirstRespTime <30    THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER)))  as cpusec_in_runtime_0010_0030
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=30   AND  dbql.TotalFirstRespTime <60    THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER)))  as cpusec_in_runtime_0030_0060
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=60   AND  dbql.TotalFirstRespTime <300   THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER)))  as cpusec_in_runtime_0060_0300
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=300  AND  dbql.TotalFirstRespTime <600   THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER)))  as cpusec_in_runtime_0300_0600
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=600  AND  dbql.TotalFirstRespTime <1800  THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER)))  as cpusec_in_runtime_0600_1800
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=1800 AND  dbql.TotalFirstRespTime <3600  THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER)))  as cpusec_in_runtime_1800_3600
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >3600                                      THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER)))  as cpusec_in_runtime_3600_plus

,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  is NULL OR  dbql.TotalFirstRespTime <1     THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER)))   as iogb_in_runtime_0000_0001
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=1    AND  dbql.TotalFirstRespTime <5     THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER)))   as iogb_in_runtime_0001_0005
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=5    AND  dbql.TotalFirstRespTime <10    THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER)))   as iogb_in_runtime_0005_0010
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=10   AND  dbql.TotalFirstRespTime <30    THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER)))   as iogb_in_runtime_0010_0030
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=30   AND  dbql.TotalFirstRespTime <60    THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER)))   as iogb_in_runtime_0030_0060
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=60   AND  dbql.TotalFirstRespTime <300   THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER)))   as iogb_in_runtime_0060_0300
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=300  AND  dbql.TotalFirstRespTime <600   THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER)))   as iogb_in_runtime_0300_0600
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=600  AND  dbql.TotalFirstRespTime <1800  THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER)))   as iogb_in_runtime_0600_1800
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >=1800 AND  dbql.TotalFirstRespTime <3600  THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER)))   as iogb_in_runtime_1800_3600
,zeroifnull(SUM(CAST(CASE WHEN  dbql.TotalFirstRespTime  >3600                                      THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER)))   as iogb_in_runtime_3600_plus


/* delaytime by [query count | cpu | iogb] */
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  is NULL OR  dbql.delaytime <1     THEN dbql.Statements ELSE 0 END AS INTEGER))) as qrycnt_in_delaytime_0000_0001
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=1    AND  dbql.delaytime <5     THEN dbql.Statements ELSE 0 END AS INTEGER))) as qrycnt_in_delaytime_0001_0005
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=5    AND  dbql.delaytime <10    THEN dbql.Statements ELSE 0 END AS INTEGER))) as qrycnt_in_delaytime_0005_0010
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=10   AND  dbql.delaytime <30    THEN dbql.Statements ELSE 0 END AS INTEGER))) as qrycnt_in_delaytime_0010_0030
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=30   AND  dbql.delaytime <60    THEN dbql.Statements ELSE 0 END AS INTEGER))) as qrycnt_in_delaytime_0030_0060
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=60   AND  dbql.delaytime <300   THEN dbql.Statements ELSE 0 END AS INTEGER))) as qrycnt_in_delaytime_0060_0300
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=300  AND  dbql.delaytime <600   THEN dbql.Statements ELSE 0 END AS INTEGER))) as qrycnt_in_delaytime_0300_0600
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=600  AND  dbql.delaytime <1800  THEN dbql.Statements ELSE 0 END AS INTEGER))) as qrycnt_in_delaytime_0600_1800
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=1800 AND  dbql.delaytime <3600  THEN dbql.Statements ELSE 0 END AS INTEGER))) as qrycnt_in_delaytime_1800_3600
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >3600                             THEN dbql.Statements ELSE 0 END AS INTEGER))) as qrycnt_in_delaytime_3600_plus

,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  is NULL OR  dbql.delaytime <1     THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER))) as cpusec_in_delaytime_0000_0001
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=1    AND  dbql.delaytime <5     THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER))) as cpusec_in_delaytime_0001_0005
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=5    AND  dbql.delaytime <10    THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER))) as cpusec_in_delaytime_0005_0010
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=10   AND  dbql.delaytime <30    THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER))) as cpusec_in_delaytime_0010_0030
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=30   AND  dbql.delaytime <60    THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER))) as cpusec_in_delaytime_0030_0060
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=60   AND  dbql.delaytime <300   THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER))) as cpusec_in_delaytime_0060_0300
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=300  AND  dbql.delaytime <600   THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER))) as cpusec_in_delaytime_0300_0600
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=600  AND  dbql.delaytime <1800  THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER))) as cpusec_in_delaytime_0600_1800
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >=1800 AND  dbql.delaytime <3600  THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER))) as cpusec_in_delaytime_1800_3600
,zeroifnull(SUM(CAST(CASE WHEN  dbql.delaytime  >3600                             THEN dbql.AMPCPUtime + dbql.ParserCPUTime ELSE 0 END AS INTEGER))) as cpusec_in_delaytime_3600_plus

,zeroifnull(SUM(CAST(CASE WHEN dbql.delaytime  is NULL OR  dbql.delaytime <1     THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER))) as iogb_in_delaytime_0000_0001
,zeroifnull(SUM(CAST(CASE WHEN dbql.delaytime  >=1    AND  dbql.delaytime <5     THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER))) as iogb_in_delaytime_0001_0005
,zeroifnull(SUM(CAST(CASE WHEN dbql.delaytime  >=5    AND  dbql.delaytime <10    THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER))) as iogb_in_delaytime_0005_0010
,zeroifnull(SUM(CAST(CASE WHEN dbql.delaytime  >=10   AND  dbql.delaytime <30    THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER))) as iogb_in_delaytime_0010_0030
,zeroifnull(SUM(CAST(CASE WHEN dbql.delaytime  >=30   AND  dbql.delaytime <60    THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER))) as iogb_in_delaytime_0030_0060
,zeroifnull(SUM(CAST(CASE WHEN dbql.delaytime  >=60   AND  dbql.delaytime <300   THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER))) as iogb_in_delaytime_0060_0300
,zeroifnull(SUM(CAST(CASE WHEN dbql.delaytime  >=300  AND  dbql.delaytime <600   THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER))) as iogb_in_delaytime_0300_0600
,zeroifnull(SUM(CAST(CASE WHEN dbql.delaytime  >=600  AND  dbql.delaytime <1800  THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER))) as iogb_in_delaytime_0600_1800
,zeroifnull(SUM(CAST(CASE WHEN dbql.delaytime  >=1800 AND  dbql.delaytime <3600  THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER))) as iogb_in_delaytime_1800_3600
,zeroifnull(SUM(CAST(CASE WHEN dbql.delaytime  >3600                             THEN ReqIOKB/1e6 ELSE 0 END AS INTEGER))) as iogb_in_delaytime_3600_plus


From pdcrinfo.dbqlogtbl_hst as dbql     
/* TODO: union with DBQL_Summary table - Paul */

join dim_app as app
  on dbql.AppID = app.AppID

join dim_Statement stm
  on dbql.StatementType = stm.StatementType

join dim_user usr
  on dbql.UserName = usr.UserName

join (
      Select TheDate as LogDate, Floor(TheTime/1e4) as LogHour_
      ,cast(max(NodeType) as varchar(10)) as Node_Type
      ,cast(count(distinct NodeID) as smallint) as Node_Cnt
      ,cast(max(NCPUs) as smallint) as vCPU_per_Node
      ,sum(cast(FullPotentialIOTA/1e9 as decimal(18,0))) as MaxIOTA_cntB
      ,sum(cast(CPUIdle   as decimal(18,2))) as CPU_Idle
      ,sum(cast(CPUIOWait as decimal(18,2))) as CPU_IOWait
      ,sum(cast(CPUUServ  as decimal(18,2))) as CPU_OS
      ,sum(cast(CPUUExec  as decimal(18,2))) as CPU_DBS
      ,CPU_Idle+CPU_IOWait+CPU_OS+CPU_DBS as CPU_Total
      from pdcrinfo.ResUsageSPMA_Hst 
      where TheDate between DATE-2 and DATE
      Group by LogDate, LogHour_
     ) resusage
  on dbql.LogDate = resusage.LogDate
 and LogHour = resusage.LogHour_

where dbql.LogDate between DATE-2 and DATE

Group by
 dbql.LogDate
,LogHour
,app.App_Bucket
,app.Use_Bucket
,stm.Statement_Bucket
,usr.User_Bucket
,usr.User_Department
,usr.User_SubDepartment
;

In [ ]:
select top 10 * from dbql_core_tmp

In [ ]:
delete from adlste_coa_stg.stg_dat_dbql_core;
insert into adlste_coa_stg.stg_dat_dbql_core
select top  100 * from dbql_core_tmp;

In [ ]:
select top 10 * from adlste_coa.coat_dat_dbql_core